<!-- Blog -->
<section class="blog-area pt-100">
    <div class="container">
        <div class="section-title">
            <span class="sub-title">blog</span>
            <h2>Our Latest Blogs</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
        </div>
        <div class="row">
            <div class="col-sm-6 col-lg-4">
                <div class="blog-item">
                    <div class="blog-top">
                        <div class="blog-date">
                            <p>21</p>
                            <span>Feb</span>
                        </div>
                        <a href="blog-details.html">
                            <img src="/img/home-one/blog/1.jpg" alt="Blog">
                        </a>
                    </div>
                    <div class="blog-bottom">
                        <h3>
                            <a href="blog-details.html">The next genaration IT will change the world</a>
                        </h3>
                        <ul>
                            <li>
                                <img src="/img/home-one/blog/1.png" alt="Blog">
                                <a href="#">Aikin Ward</a>
                            </li>
                            <li>
                                <a href="blog-details.html">
                                    Read More
                                    <i class='bx bx-chevron-right'></i>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-lg-4">
                <div class="blog-item">
                    <div class="blog-top">
                        <div class="blog-date">
                            <p>22</p>
                            <span>Feb</span>
                        </div>
                        <a href="blog-details.html">
                            <img src="/img/home-one/blog/2.jpg" alt="Blog">
                        </a>
                    </div>
                    <div class="blog-bottom">
                        <h3>
                            <a href="blog-details.html">Content writing demand day by day increasing</a>
                        </h3>
                        <ul>
                            <li>
                                <img src="/img/home-one/blog/2.png" alt="Blog">
                                <a href="#">Tom Smith</a>
                            </li>
                            <li>
                                <a href="blog-details.html">
                                    Read More
                                    <i class='bx bx-chevron-right'></i>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 offset-sm-3 offset-lg-0 col-lg-4">
                <div class="blog-item">
                    <div class="blog-top">
                        <div class="blog-date">
                            <p>23</p>
                            <span>Feb</span>
                        </div>
                        <a href="blog-details.html">
                            <img src="/img/home-one/blog/3.jpg" alt="Blog">
                        </a>
                    </div>
                    <div class="blog-bottom">
                        <h3>
                            <a href="blog-details.html">Don't buy a tech gift until you read these rules image</a>
                        </h3>
                        <ul>
                            <li>
                                <img src="/img/home-one/blog/1.png" alt="Blog">
                                <a href="#">Sarah Tylor</a>
                            </li>
                            <li>
                                <a href="blog-details.html">
                                    Read More
                                    <i class='bx bx-chevron-right'></i>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="parts-view">
            <a href="blog.html">View All</a>
        </div>
    </div>
</section>