<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Mekanik Servis Admin</title>
    <!-- plugins:css -->
    <link rel="stylesheet" href="~/admin/assets/vendors/mdi/css/materialdesignicons.min.css">
    <link rel="stylesheet" href="~/admin/assets/vendors/flag-icon-css/css/flag-icon.min.css">
    <link rel="stylesheet" href="~/admin/assets/vendors/css/vendor.bundle.base.css">

    <link rel="stylesheet" href="~/admin/assets/vendors/font-awesome/css/font-awesome.min.css" />
    <link rel="stylesheet" href="~/admin/assets/vendors/bootstrap-datepicker/bootstrap-datepicker.min.css">
    
    <!-- Layout styles -->
    <link rel="stylesheet" href="~/admin/assets/css/style.css">
    
    <link rel="shortcut icon" href="~/admin/assets/images/favicon.png" />
</head>