<nav class="sidebar sidebar-offcanvas" id="sidebar">
    <ul class="nav">
        <li class="nav-item nav-category">Admin Paneli</li>
        <li class="nav-item">
            <a class="nav-link" href="/Admin/Dashboard/Index/">
                <span class="icon-bg"><i class="mdi mdi-cube menu-icon"></i></span>
                <span class="menu-title">Gösterge Paneli</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" data-toggle="collapse" href="#page" aria-expanded="false" aria-controls="page">
                <span class="icon-bg"><i class="mdi mdi-crosshairs-gps menu-icon"></i></span>
                <span class="menu-title">Sayfa İşlemleri</span>
                <i class="menu-arrow"></i>
            </a>
            <div class="collapse" id="page">
                <ul class="nav flex-column sub-menu">
                    <li class="nav-item"> <a class="nav-link" href="#">Banner Alanı</a></li>
                    <li class="nav-item"> <a class="nav-link" href="#">Hakkımınzda</a></li>
                    <li class="nav-item"> <a class="nav-link" href="#">Servisler</a></li>
                    <li class="nav-item"> <a class="nav-link" href="#">Paketler</a></li>
                    <li class="nav-item"> <a class="nav-link" href="#">Araçlar</a></li>
                    <li class="nav-item"> <a class="nav-link" href="#">Lokasyonlar</a></li>
                    <li class="nav-item"> <a class="nav-link" href="#">Şubeler</a></li>
                    <li class="nav-item"> <a class="nav-link" href="#">Bloglar</a></li>
                    <li class="nav-item"> <a class="nav-link" href="#">Etiketler</a></li>
                    <li class="nav-item"> <a class="nav-link" href="#">Sıkça Sorulan Sorular</a></li>
                    <li class="nav-item"> <a class="nav-link" href="#">Adres</a></li>
                    <li class="nav-item"> <a class="nav-link" href="#">Sosyal Medya</a></li>
                    <li class="nav-item"> <a class="nav-link" href="#">Referanslar</a></li>
                    <li class="nav-item"> <a class="nav-link" href="#">Kampanyalar</a></li>
                </ul>
            </div>
        </li>
        <li class="nav-item">
            <a class="nav-link" data-toggle="collapse" href="#user" aria-expanded="false" aria-controls="user">
                <span class="icon-bg"><i class="mdi mdi-lock menu-icon"></i></span>
                <span class="menu-title">Kullanıcı İşlemleri</span>
                <i class="menu-arrow"></i>
            </a>
            <div class="collapse" id="user">
                <ul class="nav flex-column sub-menu">
                    <li class="nav-item"> <a class="nav-link" href="~/Admin/Reservation/CompletedReservations/"> Tamamlanan Rezervasyonlar </a></li>
                    <li class="nav-item"> <a class="nav-link" href="~/Admin/Reservation/AllReservations/"> Tüm Rezervasyonlar </a></li>
                    <li class="nav-item"> <a class="nav-link" href="~/Admin/Customer/CustomersRecords/"> Müşteri Kayıtları </a></li>
                    <li class="nav-item"> <a class="nav-link" href="~/Admin/Customer/AllCustomers/"> Müşteriler </a></li>
                </ul>
            </div>
        </li>
        <li class="nav-item">
            <a class="nav-link" data-toggle="collapse" href="#employees" aria-expanded="false" aria-controls="employees">
                <span class="icon-bg"><i class="mdi mdi-lock menu-icon"></i></span>
                <span class="menu-title">Çalışanlar</span>
                <i class="menu-arrow"></i>
            </a>
            <div class="collapse" id="employees">
                <ul class="nav flex-column sub-menu">
                    <li class="nav-item"> <a class="nav-link" href="~/Admin/Employee/Index/"> Çalışanları Görüntüle </a></li>
                    <li class="nav-item"> <a class="nav-link" href="~/Admin/Employee/Create/"> Çalışan Ekle </a></li>
                </ul>
            </div>
        </li>
        <li class="nav-item">
            <a class="nav-link" data-toggle="collapse" href="#mail" aria-expanded="false" aria-controls="mail">
                <span class="icon-bg"><i class="mdi mdi-lock menu-icon"></i></span>
                <span class="menu-title">Posta Kutusu</span>
                <i class="menu-arrow"></i>
            </a>
            <div class="collapse" id="mail">
                <ul class="nav flex-column sub-menu">
                    <li class="nav-item"> <a class="nav-link" href="/Admin/Inbox/Index/"> Gelen Kutusu </a></li>
                    <li class="nav-item"> <a class="nav-link" href="#"> Giden Kutusu </a></li>
                    <li class="nav-item"> <a class="nav-link" href="#"> Toplu Mail Gönder </a></li>
                </ul>
            </div>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="mailto:alicansariboga1@gmail.com">
                <span class="icon-bg"><i class="mdi mdi-format-list-bulleted menu-icon"></i></span>
                <span class="menu-title">Bizimle İletişime Geçin</span>
            </a>
        </li>
        <li class="nav-item documentation-link">
            <a class="nav-link" href="http://www.bootstrapdash.com/demo/connect-plus-free/jquery/documentation/documentation.html" target="_blank">
                <span class="icon-bg">
                    <i class="mdi mdi-file-document-box menu-icon"></i>
                </span>
                <span class="menu-title">Dokümantasyon</span>
            </a>
        </li>
        <li class="nav-item sidebar-user-actions">
            <div class="user-details">
                <div class="d-flex justify-content-between align-items-center">
                    <div>
                        <div class="d-flex align-items-center">
                            <div class="sidebar-profile-img">
                                <img src="~/admin/assets/images/faces/profile.png" alt="image">
                            </div>
                            <div class="sidebar-profile-text">
                                <p class="mb-1">Ali Can SARIBOĞA</p>
                            </div>
                        </div>
                    </div>
                    <div class="badge badge-danger">3</div>
                </div>
            </div>
        </li>
        <li class="nav-item sidebar-user-actions">
            <div class="sidebar-user-menu">
                <a href="#" class="nav-link">
                    <i class="mdi mdi-settings menu-icon"></i>
                    <span class="menu-title">Ayarlar</span>
                </a>
            </div>
        </li>
        <li class="nav-item sidebar-user-actions">
            <div class="sidebar-user-menu">
                <a href="#" class="nav-link">
                    <i class="mdi mdi-speedometer menu-icon"></i>
                    <span class="menu-title">Hızlı Tur</span>
                </a>
            </div>
        </li>
        <li class="nav-item sidebar-user-actions">
            <div class="sidebar-user-menu">
                <a href="#" class="nav-link">
                    <i class="mdi mdi-logout menu-icon"></i>
                    <span class="menu-title">Çıkış Yap</span>
                </a>
            </div>
        </li>
    </ul>
</nav>