@model List<ResultBannerDto>

<!-- Banner -->
<div class="banner-slider owl-theme owl-carousel">
    <div class="banner-area-three" style="background-image: url('/img/home-three/banner-slider.jpg'); background-size: cover; background-position: center;">
        <div class="d-table">
            <div class="d-table-cell">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-8">
                            <div class="banner-text">
                                <h1>Get Your Best Auto Services</h1>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravida. Risus commodo viverra maecenas accumsan lacus vel facilisis. </p>
                                <div class="cmn-btn">
                                    <a class="banner-btn-left" href="service-details.html">
                                        <i class='bx bx-meteor'></i>
                                        Explore Service
                                    </a>
                                    <a class="banner-btn-right" href="tel:+123456789">
                                        <i class='bx bx-phone-call'></i>
                                        +123456789
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <div class="video-wrap">
                                <a href="https://www.youtube.com/watch?v=aqz-KE-bpKQ" class="popup-youtube">
                                    <i class='bx bx-play'></i>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="banner-area-three">
        <div class="d-table">
            <div class="d-table-cell">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-8">
                            <div class="banner-text">
                                <h1>Get Your Best Auto Services</h1>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravida. Risus commodo viverra maecenas accumsan lacus vel facilisis. </p>
                                <div class="cmn-btn">
                                    <a class="banner-btn-left" href="service-details.html">
                                        <i class='bx bx-meteor'></i>
                                        Explore Service
                                    </a>
                                    <a class="banner-btn-right" href="tel:+123456789">
                                        <i class='bx bx-phone-call'></i>
                                        +123456789
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <div class="video-wrap">
                                <a href="https://www.youtube.com/watch?v=aqz-KE-bpKQ" class="popup-youtube">
                                    <i class='bx bx-play'></i>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="banner-area-three">
        <div class="d-table">
            <div class="d-table-cell">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-8">
                            <div class="banner-text">
                                <h1>Get Your Best Auto Services</h1>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravida. Risus commodo viverra maecenas accumsan lacus vel facilisis. </p>
                                <div class="cmn-btn">
                                    <a class="banner-btn-left" href="service-details.html">
                                        <i class='bx bx-meteor'></i>
                                        Explore Service
                                    </a>
                                    <a class="banner-btn-right" href="tel:+123456789">
                                        <i class='bx bx-phone-call'></i>
                                        +123456789
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <div class="video-wrap">
                                <a href="https://www.youtube.com/watch?v=aqz-KE-bpKQ" class="popup-youtube">
                                    <i class='bx bx-play'></i>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Banner Call -->
<div class="banner-call">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-7">
                <div class="banner-call-content">
                    <h3>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt </h3>
                </div>
            </div>
            <div class="col-lg-5">
                <div class="cmn-btn">
                    <a class="banner-btn-left" href="tel:123456789">
                        Call Now
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Banner Address -->
@* <div class="address-area">
            <div class="container">
                <div class="row">
                    <div class="col-sm-6 col-lg-4">
                        <div class="address-item">
                            <i class='bx bxs-paper-plane'></i>
                            <h3>Location</h3>
                            <span>Quadra, Toronto, Victiria Canada</span>
                        </div>
                    </div>
                    <div class="col-sm-6 col-lg-4">
                        <div class="address-item">
                            <i class='bx bxs-phone-call'></i>
                            <h3>Call Us</h3>
                            <a href="tel:+0755543332322">+07 5554 3332 322</a>
                            <a href="tel:+0525543452892">+05 2554 3452 892</a>
                        </div>
                    </div>
                    <div class="col-sm-6 offset-sm-3 offset-lg-0 col-lg-4">
                        <div class="address-item address-one">
                            <i class='bx bxs-time-five'></i>
                            <h3>Schedule</h3>
                            <span>Monday to Sunday</span>
                            <span>10:00 AM to 6.00 PM</span>
                        </div>
                    </div>
                </div>
            </div>
        </div> *@