@model ResultAppUserDto
@{

}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Şifre Yenileme Sayfası</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
</head>
<body>
    <div class="container">
        <br /><br />

        <h2>Şifre Yenileme Sayfası</h2>
        <form id="forgetPasswordForm" method="post">
            <label>Mail Adresinizi Giriniz</label>
            <input type="text" class="form-control" asp-for="Result.Email" />
            <br />
            <button type="submit" class="btn btn-primary">Şifre Yenileme Linki Gönder</button>
        </form>
    </div>

    @* <script>
        document.getElementById('forgetPasswordForm').addEventListener('submit', function (event) {
            event.preventDefault(); // Formun varsayılan submit işlemini engelle

            // Formun gönderileceği URL'yi alın
            var form = document.getElementById('forgetPasswordForm');
            var url = form.action;

            // Formu Fetch API'si ile gönder
            fetch(url, {
                method: 'POST',
                body: new FormData(form)
            })
                .then(response => {
                    if (response.ok) {
                        // İşlem başarılı ise kullanıcıya bildirim göster
                        alert('Şifre yenileme linki mail adresinize gönderildi. Lütfen mail kutunuzu kontrol edin.');
                    } else {
                        alert('Bir hata oluştu. Lütfen tekrar deneyin.');
                    }
                })
                .catch(error => {
                    console.error('İşlem sırasında bir hata oluştu:', error);
                    alert('Bir hata oluştu. Lütfen tekrar deneyin.');
                });
        });
    </script> *@

</body>
</html>
