
@{

}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Mail Gönderildi</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />

</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="d-flex align-items-center min-vh-100">
                    <div class="w-100 d-block bg-white shadow-lg rounded my-4">
                        <div class="row">
                            <div class="col-lg-8 mx-auto">
                                <div class="p-4">
                                    <div class="text-center mb-5">
                                        <a href="/" class="text-dark font-size-22 font-family-secondary">
                                            <i class="mdi mdi-alpha-x-circle"></i> <b>
                                                Mekanik Servisi
                                            </b>
                                        </a>
                                    </div>

                                    <div class="text-center">
                                        <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/d/dd/Antu_task-complete.svg/512px-Antu_task-complete.svg.png" alt="error" height="350" width="350">
                                        <h1 class="h4 mb-3 mt-4">Şifre yenileme bağlantınız ilgili mail adresine gönderilmiştir.<br /> Bağlantı mail kutunuzda görünmüyorsa eğer; spam kutusunu kontol etmeyi unutmayınız.</h1>
                                        <p class="text-muted mb-4 w-75 m-auto">Bu sayfayı kapatabilirsiniz. Mailinizi kontrol ettikten sonra ilgili bağlantı üzerinden işlemlerinize devam edebilirsiniz.</p>
                                    </div>

                                    <div class="row mt-4">
                                        <div class="col-12 text-center">
                                            <a href="/Contact/Index/" class="btn btn-success"><i class="mdi mdi-email mr-2"></i>Bize Ulaşın</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
