@model ResetPasswordViewModel
@{

}
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Şifre Resetleme Sayfası</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/limonte-sweetalert2/11.1.5/sweetalert2.min.css" />

</head>
<body>
    <div class="container">
        <br /><br />

        <h2>Şifre Resetle</h2>
        <form method="post">
            <input type="hidden" asp-for="UpdateAppUserDto.AppUserID" />
            <input type="hidden" asp-for="UpdateAppUserDto.UserName" />
            <input type="hidden" asp-for="UpdateAppUserDto.Name" />
            <input type="hidden" asp-for="UpdateAppUserDto.Surname" />
            <input type="hidden" asp-for="UpdateAppUserDto.Email" />
            <input type="hidden" asp-for="UpdateAppUserDto.AppRoleID" />
            <label for="userPassword">Şifrenizi Giriniz</label>
            <input type="password" class="form-control" id="userPassword" asp-for="Password" />
            <br />
            <label for="userConfirmPassword">Şifrenizi Tekrar Giriniz</label>
            <input type="password" class="form-control" id="userConfirmPassword" asp-for="ConfirmPassword" />
            <br />
            <button type="submit" class="btn btn-primary">Şifre Güncelle</button>
        </form>
    </div>

    <script 
        src="https://cdnjs.cloudflare.com/ajax/libs/limonte-sweetalert2/11.1.5/sweetalert2.min.js"></script>
    <script>
        // Form submit olduğunda işlemleri gerçekleştir
        document.querySelector('form').addEventListener('submit', function (event) {
            // Formun normal submit işlemini gerçekleştir
            // Bu şekilde form submit olduğunda normal işleyiş devam eder, ancak SweetAlert uyarı mesajı hemen gösterilir
            Swal.fire({
                title: 'Şifre Değiştirme İşlemi Tamamlandı!',
                text: 'Giriş sayfasına yönlendiriliyorsunuz...',
                icon: 'success',
                timer: 3000, // 3 saniye sonra kapanacak
                timerProgressBar: true,
                didOpen: () => {
                    Swal.showLoading(); // SweetAlert üzerindeki loading simgesini göster
                },
                willClose: () => {
                    // SweetAlert kapanmadan önce formu submit et
                    document.querySelector('form').submit();
                }
            });

            event.preventDefault(); // Formun normal submit işlemini engelle
        });
    </script>
</body>
</html>
