
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Layout/Index.cshtml";
}

<!-- Page Title -->
<div class="page-title-area">
    <img src="assets/img/home-one/footer-car.png" alt="Title">
    <div class="container">
        <div class="page-title-content">
            <h2>Gizliik Politikası ve Çerezler</h2>
            <ul>
                <li>
                    <a href="/">Ana Sayfa</a>
                </li>
                <li>
                    <i class='bx bx-chevron-right'></i>
                </li>
                <li>Gizlilik</li>
            </ul>
        </div>
    </div>
</div>

<!-- Faq -->
<section class="faq-area pt-100 pb-70">
    <div class="container">
        <div class="row faq-wrap">
            <div class="col-lg-12">
                <div class="faq-head">
                    <h2>Gizlilik Politikası</h2>
                </div>
                <div>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque interdum nisl nec tempor hendrerit. Aliquam congue placerat metus a convallis. In dignissim lectus erat, sit amet tincidunt odio posuere ac. Cras ac suscipit ipsum. Phasellus in nunc ut odio consectetur interdum non mollis dui. In rhoncus eleifend ultrices. Maecenas a posuere ligula, at maximus mi.
                    </p>
                    <p>
                        Mauris volutpat vulputate elit ut efficitur. Mauris in commodo massa, sed posuere dui. Duis dapibus auctor ante in placerat. Vivamus ipsum sem, convallis in finibus eget, mattis vitae tellus. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Etiam luctus nibh et turpis mollis, a iaculis purus venenatis. Curabitur sit amet nunc tellus. Morbi quis dolor facilisis, facilisis justo ut, pellentesque purus. Donec ornare viverra pharetra. Interdum et malesuada fames ac ante ipsum primis in faucibus. Praesent sagittis purus a sodales auctor.
                    </p>
                    <p>
                        Fusce nisl quam, interdum id nulla sed, finibus semper velit. Nullam vehicula eget ante dignissim egestas. Praesent pellentesque sit amet risus pretium tincidunt. Mauris sit amet dictum justo. Cras non ligula blandit, finibus sapien et, sodales tellus. Fusce iaculis, enim in imperdiet interdum, urna magna ornare arcu, et egestas lacus dui ac lorem. Phasellus sed ullamcorper justo. Cras leo justo, auctor nec euismod nec, convallis sed risus. Fusce pellentesque ligula in sapien tincidunt sollicitudin. Morbi leo magna, molestie vitae nunc in, eleifend efficitur ligula. Nam consectetur rhoncus diam, in ultricies lectus mattis vel. Donec mollis neque velit, vitae consectetur ligula varius ut. Fusce mattis massa felis, nec suscipit lacus posuere eget. Nunc eu est fermentum, mollis velit sed, vehicula erat. Cras eget tincidunt neque. Donec ut faucibus odio.
                    </p>
                    <p>
                        Aliquam nibh nulla, maximus facilisis ullamcorper vitae, pellentesque ut tortor. Donec et lectus tortor. Etiam vestibulum tellus ut lorem sagittis, nec dignissim nisi blandit. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. In nec aliquam nisl. Donec eu justo dui. Donec sit amet augue semper, ullamcorper purus ut, ultricies purus.
                    </p>
                </div>

                <div class="faq-head mt-5">
                    <h2>Çerezler</h2>
                </div>
                <div>
                    <p>
                        Etiam ut sapien tristique, posuere metus sit amet, gravida risus. Nam est ipsum, commodo sed ante sed, facilisis rhoncus sem. Aliquam erat volutpat. Aliquam sit amet rhoncus ipsum, at condimentum lectus. Nunc eget ligula at purus pellentesque iaculis id ut lacus. Nunc sit amet erat nisl. Cras purus tortor, gravida ut ipsum at, laoreet sollicitudin velit. Nullam malesuada enim in sem tincidunt pellentesque. Sed ut justo sapien. Integer tempor eu massa eu vehicula. Maecenas posuere arcu odio, vel maximus nunc vehicula hendrerit. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Fusce mollis, ex vestibulum lobortis convallis, lorem sem tincidunt erat, at facilisis nisi diam et ante. Vivamus euismod libero vulputate risus imperdiet, et malesuada ipsum pretium. Nulla laoreet, turpis id mattis suscipit, nulla nunc elementum nisl, ut venenatis arcu lacus vitae arcu. Nullam nec feugiat eros, rutrum sodales est.
                    </p>
                    <p>
                        Aliquam et consectetur odio, vitae blandit enim. Donec consectetur consectetur risus, malesuada eleifend nibh consequat convallis. Aenean nisi felis, consectetur vel interdum in, venenatis id diam. Cras sapien nisl, tristique vel nulla vel, posuere vehicula sem. Nunc sodales lacinia est, et suscipit eros semper quis. Proin auctor pellentesque tortor non lacinia. Vestibulum mollis eget mauris ac lacinia.
                    </p>
                    <p>
                        Integer quis erat condimentum, facilisis nunc id, gravida mauris. Sed dapibus mi ac augue mollis iaculis. Vestibulum in lacus porttitor, convallis tortor ac, vehicula tellus. Fusce porttitor semper urna vel dictum. Sed pretium erat sed justo rutrum imperdiet. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Quisque consectetur nunc nec fermentum fermentum. Donec vitae purus eget arcu suscipit porta. Vivamus non nisi nec velit suscipit accumsan id ac risus.
                    </p>
                </div>

                <div class="faq-head mt-5">
                    <h2>KVKK</h2>
                </div>
                <div>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed facilisis dui sit amet faucibus rhoncus. Ut ac urna velit. Cras sodales purus eget pellentesque suscipit. Curabitur in iaculis dui. Sed quis elementum lectus. Morbi blandit dolor in tincidunt faucibus. Maecenas diam eros, venenatis ac imperdiet ut, mollis commodo est. Integer rutrum orci orci, sed dictum ex sodales a.
                    </p>
                    <p>
                        Aliquam eu cursus nibh. Nulla eget vestibulum urna. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Curabitur tincidunt, dolor at fringilla aliquam, tortor mauris fringilla purus, ut pellentesque mi felis ac justo. Vivamus quis condimentum magna. Curabitur ornare tincidunt nunc, ut interdum purus feugiat ut. Sed ac turpis sapien.
                    </p>
                    <p>
                        Fusce a euismod dui, et molestie lectus. In ornare feugiat sapien eget varius. Curabitur dolor ipsum, pharetra et odio ut, luctus scelerisque felis. Mauris bibendum nulla non mollis vestibulum. Donec sed sem sit amet dui pretium maximus at fringilla ex. In nec ligula vel ex dictum rhoncus ac quis mauris. Suspendisse sodales dapibus mattis. Phasellus vitae ex nec nunc elementum gravida a at ipsum.
                    </p>
                    <p>
                        Praesent cursus lacus in tellus lacinia interdum. Aenean malesuada feugiat dui nec euismod. Cras gravida quam libero, quis semper ex placerat ac. Nulla sed condimentum turpis, eu ornare sapien. Fusce non efficitur sem. Mauris tincidunt urna nulla, a finibus eros posuere sit amet. Nulla facilisi. Curabitur vitae varius lorem, nec volutpat augue. Vivamus eget nibh quis dui volutpat porttitor.
                    </p>
                    <p>
                        Fusce elit ligula, mollis ac enim a, dictum pulvinar turpis. Morbi faucibus vestibulum vulputate. Mauris pretium leo posuere velit scelerisque dignissim nec laoreet purus. Nullam ac eleifend turpis. In et porta est. In vel elementum mi. Maecenas dui turpis, varius id consequat non, faucibus vel dui.
                    </p>
                    <p>
                        Proin lobortis suscipit urna, sit amet sodales felis elementum ut. Curabitur vulputate, augue id venenatis pretium, dui dolor faucibus lorem, nec porttitor orci sapien ut libero. Ut dignissim sodales enim eu bibendum. Nunc at aliquet eros. Nullam at sem urna. Etiam cursus sem et hendrerit porta. Phasellus eget malesuada nisi. Nunc vitae arcu blandit, fermentum nulla eu, congue nulla.
                    </p>
                    <span>
                        <strong>
                            <i>“Vestibulum imperdiet dapibus dui a vulputate. Mauris in congue eros. Sed eget dui sodales, eleifend dolor vitae, placerat elit.”</i>
                        </strong>
                    </span>
                </div>
            </div>
        </div>
    </div>
</section>