
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="tr">

@await Component.InvokeAsync("_LayoutHeadComponentPartial")

    <body>

        @await Component.InvokeAsync("_LayoutPreLoaderComponentPartial")

        @await Component.InvokeAsync("_LayoutHeaderComponentPartial")
        
        @RenderBody()

        @await Component.InvokeAsync("_UtilitiesSubscribeComponentPartial")

        @await Component.InvokeAsync("_LayoutFooterComponentPartial")

        @await Component.InvokeAsync("_LayoutScriptsComponentPartial")
        
    </body>
</html>