
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Layout/Index.cshtml";
}

<!-- Page Title -->
<div class="page-title-area">
    <img src="assets/img/home-one/footer-car.png" alt="Title">
    <div class="container">
        <div class="page-title-content">
            <h2>Ücretler</h2>
            <ul>
                <li>
                    <a href="/">Ana Sayfa</a>
                </li>
                <li>
                    <i class='bx bx-chevron-right'></i>
                </li>
                <li>Ücretler</li>
            </ul>
        </div>
    </div>
</div>

<!-- Pricing -->
<section class="pricing-area pt-100 pb-70">
    <div class="container">
        <div class="row">
            <div class="col-sm-6 col-lg-4">
                <div class="pricing-item">
                    <div class="pricing-top">
                        <h3>Başlangıç Paketi</h3>
                        <p><span class="dollar">₺</span>4000<span class="month">/yıl</span></p>
                    </div>
                    <div class="pricing-middle">
                        <i class='bx bx-rocket'></i>
                    </div>
                    <div class="pricing-bottom">
                        <ul>
                            <li>
                                <i class='bx bx-check-circle'></i>
                                1 adet Periyodik Bakım
                            </li>
                            <li>
                                <i class='bx bx-check-circle'></i>
                                3000 ₺'ye kadar Mini Onarım
                            </li>
                            <li>
                                <i class='bx bx-x'></i>
                                Mekanik Bakım
                            </li>
                            <li>
                                <i class='bx bx-x'></i>
                                Hasar Onarımı
                            </li>
                            <li>
                                <i class='bx bx-x'></i>
                                Mobil Parça Onarımı
                            </li>
                            <li>
                                <i class='bx bx-x'></i>
                                Oto Bakım & Koruma
                            </li>
                        </ul>
                        <div class="cmn-btn">
                            <a class="banner-btn-left" href="/Contact/Index/">
                                Bize Ulaş
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-lg-4">
                <div class="pricing-item">
                    <div class="pricing-top">
                        <h3>Kontrol Paketi</h3>
                        <p><span class="dollar">₺</span>8000<span class="month">/yıl</span></p>
                    </div>
                    <div class="pricing-middle">
                        <i class='bx bx-rocket'></i>
                    </div>
                    <div class="pricing-bottom">
                        <ul>
                            <li>
                                <i class='bx bx-check-circle'></i>
                                1 adet Periyodik Bakım
                            </li>
                            <li>
                                <i class='bx bx-check-circle'></i>
                                4000 ₺'ye kadar Mini Onarım
                            </li>
                            <li>
                                <i class='bx bx-check-circle'></i>
                                1 adet Mekanik Bakım
                            </li>
                            <li>
                                <i class='bx bx-check-circle'></i>
                                3000 ₺'ye kadar Hasar Onarımı
                            </li>
                            <li>
                                <i class='bx bx-x'></i>
                                Mobil Parça Onarımı
                            </li>
                            <li>
                                <i class='bx bx-x'></i>
                                Oto Bakım & Koruma
                            </li>
                        </ul>
                        <div class="cmn-btn">
                            <a class="banner-btn-left" href="/Contact/Index/">
                                Bize Ulaş
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-lg-4">
                <div class="pricing-item">
                    <div class="pricing-top">
                        <h3>Her Şey Dahil Paketi</h3>
                        <p><span class="dollar">₺</span>15000<span class="month">/yıl</span></p>
                    </div>
                    <div class="pricing-middle">
                        <i class='bx bx-rocket'></i>
                    </div>
                    <div class="pricing-bottom">
                        <ul>
                            <li>
                                <i class='bx bx-check-circle'></i>
                                1 adet Periyodik Bakım
                            </li>
                            <li>
                                <i class='bx bx-check-circle'></i>
                                5000 ₺'ye kadar Mini Onarım
                            </li>
                            <li>
                                <i class='bx bx-check-circle'></i>
                                1 adet Mekanik Bakım
                            </li>
                            <li>
                                <i class='bx bx-check-circle'></i>
                                4000 ₺'ye kadar Hasar Onarımı
                            </li>
                            <li>
                                <i class='bx bx-check-circle'></i>
                                2000 ₺'ye kadar Mobil Parça Onarımı
                            </li>
                            <li>
                                <i class='bx bx-check-circle'></i>
                                3 adet Oto Bakım & Koruma
                            </li>
                        </ul>
                        <div class="cmn-btn">
                            <a class="banner-btn-left" href="/Contact/Index/">
                                Bize Ulaş
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
