
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Layout/Index.cshtml";
}

<div class="container">
    <div class="row">
        <div class="col-12">
            <div class="d-flex align-items-center min-vh-100">
                <div class="w-100 d-block bg-white shadow-lg rounded my-4">
                    <div class="row">
                        <div class="col-lg-8 mx-auto">
                            <div class="p-4">
                                <div class="text-center mb-5">
                                    <a href="/Admin/AdminDashboard/Index/" class="text-dark font-size-22 font-family-secondary">
                                        <i class="mdi mdi-alpha-x-circle"></i> <b>
                                            Mekanik Servisi
                                        </b>
                                    </a>
                                </div>

                                <div class="text-center">
                                    <img src="/carbook-master/images/maintenance.png" alt="error" height="350" width="500">
                                    <h1 class="h4 mb-3 mt-4">Rezervasyonunuz Başarılı Bir Şekilde Alınmıştır.</h1>
                                    <p class="text-muted mb-4 w-75 m-auto">İşlemlerimizi titizlikle tamamlayacağımızdan emin olabilirsiniz. Sağlıcakla Kalın.</p>
                                </div>

                                <div class="row mt-4">
                                    <div class="col-12 text-center">
                                        <a href="/" class="btn btn-success"><i class="mdi mdi-email mr-2"></i>Ana Sayfaya Dön</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


