@model LocationsViewModel

@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Admin/Views/AdminLayout/Index.cshtml";
}


<div class="page-header">
    <h3 class="page-title"> TÜM LOKASYONLAR </h3>
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="#">Lokasyonlar</a></li>
            <li class="breadcrumb-item active" aria-current="page">Hepsi</li>
        </ol>
    </nav>
</div>

<div class="col-lg-12 grid-margin stretch-card">
    <div class="card">
        <div class="card-body">
            <h3 class="card-title">Şube Sayısı</h3>
            <p class="card-description">
                Sistemde aktif olarak görünen <code> @ViewBag.activeLocationCities </code> adet şehir ve <code> @ViewBag.activeLocations </code> adet şube vardır.
            </p>
        </div>
    </div>
</div>
<div class="col-lg-12 grid-margin stretch-card">
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">Şehir Listesi</h4>
            <p class="card-description">
                Aşağıdaki alandan ulaşmak istediğiniz <code>şehri</code> seçerek işlemlerinize devam edebilirsiz.
            </p>
            <div class="row">
                @foreach (var item in Model.CityDatas)
                {
                    <div class="col-sm-2 col-lg-1 mt-1 me-1">
                        <a href="/Admin/ManageLocation/Branch/@item.Id" class="btn btn-primary">@item.Name (@item.ActiveDistrictCount)</a>
                    </div>
                }
            </div>
        </div>
    </div>
</div>

