@model List<ResultServiceDto>

<!-- Service -->
<section class="pb-70">
    <div class="container">
        <div class="section-title">
            <span class="sub-title">Servis</span>
            <h2>Servislerimiz</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
        </div>
        <div class="row">
            @foreach(var item in Model)
            {
                <div class="col-sm-6 col-lg-4">
                    <a href="/Service/Detail/@item.Id">
                        <div class="service-item">
                            <div class="service-img">
                                <img src="@item.IconUrl" alt="Service">
                            </div>
                            <div class="service-content">
                                <i class='bx bx-car'></i>
                                <i class='bx bx-car service-icon'></i>
                                <h3>@item.Title</h3>
                                <p>@item.Description </p>
                            </div>
                        </div>
                    </a>
                </div>
            }
        </div>
    </div>
</section>