<!-- Service -->
<section class="pb-70">
    <div class="container">
        <div class="section-title">
            <span class="sub-title">service</span>
            <h2>Our Services</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
        </div>
        <div class="row">
            <div class="col-sm-6 col-lg-4">
                <a href="service-details.html">
                    <div class="service-item">
                        <div class="service-img">
                            <img src="assets/img/home-one/service/1.jpg" alt="Service">
                        </div>
                        <div class="service-content">
                            <i class='bx bx-car'></i>
                            <i class='bx bx-car service-icon'></i>
                            <h3>Tyre Service</h3>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod. </p>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-sm-6 col-lg-4">
                <a href="service-details.html">
                    <div class="service-item">
                        <div class="service-img">
                            <img src="assets/img/home-one/service/2.jpg" alt="Service">
                        </div>
                        <div class="service-content">
                            <i class='bx bxs-wrench'></i>
                            <i class='bx bxs-wrench service-icon'></i>
                            <h3>Engine Service</h3>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod. </p>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-sm-6 col-lg-4">
                <a href="service-details.html">
                    <div class="service-item">
                        <div class="service-img">
                            <img src="assets/img/home-one/service/3.jpg" alt="Service">
                        </div>
                        <div class="service-content">
                            <i class='bx bxs-car-garage'></i>
                            <i class='bx bxs-car-garage service-icon'></i>
                            <h3>Tuning Service</h3>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod. </p>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-sm-6 col-lg-4">
                <a href="service-details.html">
                    <div class="service-item">
                        <div class="service-img">
                            <img src="assets/img/home-one/service/4.jpg" alt="Service">
                        </div>
                        <div class="service-content">
                            <i class='bx bxs-car-mechanic'></i>
                            <i class='bx bxs-car-mechanic service-icon'></i>
                            <h3>Motor Service</h3>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod. </p>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-sm-6 col-lg-4">
                <a href="service-details.html">
                    <div class="service-item">
                        <div class="service-img">
                            <img src="assets/img/home-one/service/5.jpg" alt="Service">
                        </div>
                        <div class="service-content">
                            <i class='bx bxs-car-crash'></i>
                            <i class='bx bxs-car-crash service-icon'></i>
                            <h3>System Service</h3>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod. </p>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-sm-6 col-lg-4">
                <a href="service-details.html">
                    <div class="service-item">
                        <div class="service-img">
                            <img src="assets/img/home-one/service/6.jpg" alt="Service">
                        </div>
                        <div class="service-content">
                            <i class='bx bxs-car-wash'></i>
                            <i class='bx bxs-car-wash service-icon'></i>
                            <h3>Washing Service</h3>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod. </p>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
</section>