@model ReservationCreateViewModel

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Layout/Index.cshtml";
}

<!-- Page Title -->
<div class="page-title-area">
    <img src="/img/home-one/footer-car.png" alt="Title">
    <div class="container">
        <div class="page-title-content">
            <h2>Hemen Rezervasyon Yap</h2>
            <ul>
                <li>
                    <a href="/">Ana Sayfa</a>
                </li>
                <li>
                    <i class='bx bx-chevron-right'></i>
                </li>
                <li>Rezervasyon</li>
            </ul>
        </div>
    </div>
</div>

<section class="contact-area pt-100 pb-70">
    <div class="container">
        <div class="row">
            <div class="col-2"></div>
            <div class="col-sm-8 col-lg-8">
                <div class="contact-item contact-right">
                    <form class="contactForm" method="post">
                        @await Component.InvokeAsync("_ReservationServicesComponentPartial")

                        <h3>Müşteri Bilgileri</h3>
                        <div class="row">
                            <div class="col-sm-6 col-lg-6">
                                <div class="form-group">
                                    <input type="text" class="form-control" required data-error="Bu alan boş bırakılamaz." placeholder="İsminiz" asp-for="ReservationPerson.Name">
                                    <div class="help-block with-errors"></div>
                                </div>
                            </div>

                            <div class="col-sm-6 col-lg-6">
                                <div class="form-group">
                                    <input type="text" class="form-control" required data-error="Bu alan boş bırakılamaz." placeholder="Soy isminiz" asp-for="ReservationPerson.Surname">
                                    <div class="help-block with-errors"></div>
                                </div>
                            </div>

                            <div class="col-sm-6 col-lg-6">
                                <div class="form-group">
                                    <input type="text" required data-error="Bu alan boş bırakılamaz." class="form-control" placeholder="Kimlik Numaranız" asp-for="ReservationPerson.IdentityNumber">
                                    <div class="help-block with-errors"></div>
                                </div>
                            </div>


                            <div class="col-sm-6 col-lg-6">
                                <div class="form-group">
                                    <input type="email" class="form-control" required data-error="Bu alan boş bırakılamaz." placeholder="Mail Adresiniz" asp-for="ReservationPerson.Email">
                                    <div class="help-block with-errors"></div>
                                </div>
                            </div>

                            <div class="col-sm-6 col-lg-6">
                                <div class="form-group">
                                    <input type="text" required data-error="Bu alan boş bırakılamaz." class="form-control" placeholder="Telefon Numaranız" asp-for="ReservationPerson.Phone">
                                    <div class="help-block with-errors"></div>
                                </div>
                            </div>

                            <div class="col-sm-6 col-lg-6">
                                <div class="form-group">
                                    <input type="text" required data-error="Bu alan boş bırakılamaz." class="form-control" placeholder="İkincil Telefon Numaranız" asp-for="ReservationPerson.PhoneOpt">
                                    <div class="help-block with-errors"></div>
                                </div>
                            </div>
                        </div>

                        <h3>Araç Bilgileri</h3>
                        <div class="row">
                            <div class="col-sm-6 col-lg-6">
                                <div class="form-group">

                                    <select id="brandSelect" class="form-select" aria-label="Default select example" onchange="handleBrandChange()">
                                        <option selected>Marka Seçiniz</option>
                                        @await Component.InvokeAsync("_ReservationChoiceBrandComponentPartial")
                                    </select>
                                </div>
                            </div>

                            <div class="col-sm-6 col-lg-6">
                                <div class="form-group">
                                    <select id="modelSelect" class="form-select" aria-label="Default select example" asp-for="ReservationCar.ModelID">
                                        <option selected>Model Seçiniz</option>
                                    </select>
                                </div>
                            </div>

                            <div class="col-sm-4 col-lg-4">
                                <div class="form-group">
                                    <select class="form-select" aria-label="Default select example" asp-for="ReservationCar.Year">
                                        <option selected>Yıl Seçiniz</option>
                                        <option value="2024">2024</option>
                                        <option value="2023">2023</option>
                                        <option value="2022">2022</option>
                                        <option value="2021">2021</option>
                                        <option value="2020">2020</option>
                                        <option value="2019">2019</option>
                                        <option value="2018">2018</option>
                                        <option value="2017">2017</option>
                                        <option value="2016">2016</option>
                                        <option value="2015">2015</option>
                                        <option value="2015">2013</option>
                                        <option value="2015">2012</option>
                                        <option value="2015">2011</option>
                                        <option value="2015">2010</option>
                                    </select>
                                </div>
                            </div>

                            <div class="col-sm-4 col-lg-4">
                                <div class="form-group">
                                    <input type="text" required data-error="Bu alan boş bırakılamaz." class="form-control" placeholder="Km" asp-for="ReservationCar.Km">
                                    <div class="help-block with-errors"></div>
                                </div>
                            </div>

                            <div class="col-sm-4 col-lg-4">
                                <div class="form-group">
                                    <input type="text" class="form-control" required data-error="Bu alan boş bırakılamaz." placeholder="Plaka" asp-for="ReservationCar.LicensePlate">
                                    <div class="help-block with-errors"></div>
                                </div>
                            </div>
                        </div>
                        <h3>Randevu Bilgileri</h3>
                        <div class="row">
                            <div class="col-sm-6 col-lg-6">
                                <div class="form-group">
                                    <select id="citySelect" class="form-select" aria-label="Default select example" asp-for="ReservationService.City" onchange="handleCityChange()">
                                        <option selected>İl Seçiniz</option>
                                        @await Component.InvokeAsync("_ReservationChoiceCityComponentPartial")
                                    </select>
                                </div>
                            </div>
                            <div class="col-sm-6 col-lg-6">
                                <div class="form-group">

                                    <select id="districtSelect" class="form-select" aria-label="Default select example" asp-for="ReservationService.Distinct">
                                        <option selected>İlçe Seçiniz</option>
                                    </select>
                                </div>
                            </div>
                            <div id="svgContainer"></div>

                            <div class="col-sm-6 col-lg-6">
                                <div class="form-group mr-2">
                                    <label for="" class="label">Randevu Tarihi</label>
                                    <input type="date" class="form-control" id="datePicker" placeholder="Tarih" asp-for="ReservationService.Date" value="@Model.ReservationService.Date.ToString("dd/MM/yyyy")">
                                </div>
                            </div>

                            <div class="col-sm-6 col-lg-6">
                                <div class="form-group mr-2">
                                    <label for="" class="label">Randevu Saati</label>
                                    <select class="form-select" aria-label="Default select example" asp-for="ReservationService.Hour" >
                                        <option selected>Saat Seçiniz</option>
                                        @for (int i = 9; i < 18; i++)
                                        {
                                            <option value="i:00">@i:00</option>
                                        }
                                        <option value="18" disabled>18</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-12 col-lg-12">
                                <div class="form-group">
                                    <textarea class="form-control" cols="30" rows="8" placeholder="Açıklama" asp-for="ReservationService.Description"></textarea>
                                </div>
                            </div>
                            <div class="col-md-12 col-lg-12">
                                <button type="submit" class="contact-btn btn">
                                    Gönder
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <div class="col-2"></div>
        </div>
    </div>
</section>

<script>
    var datePicker = document.getElementById('datePicker');

    function disableSundays(date) {
        var day = date.getDay();
        return (day != 0);
    }
    var today = new Date();
    for (var i = 0; i < datePicker.length; i++) {
        var date = new Date(today.getFullYear(), today.getMonth(), today.getDate() + i);
        if (!disableSundays(date)) {
            date.setDate(date.getDate() + 6);
            datePicker.value = date.toISOString().split('T')[0];
            break;
        }
    }
    datePicker.addEventListener('input', function () {
        var selectedDate = new Date(datePicker.value);
        if (!disableSundays(selectedDate)) {
            alert("Pazar günü çalışılmamaktadır. Lütfen başka bir gün seçiniz.");
        }
    });
</script>

