<!-- Process -->
<section class="process-area process-area-two pt-100 pb-70">
    <div class="process-shape">
        <img src="/img/home-one/car-shadow.png" alt="Shape">
    </div>
    <div class="section-title">
        <span class="sub-title">İşlemler</span>
        <h2>Uyguladığımız İşlemler</h2>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-4">
                <div class="process-item">
                    <div class="process-inner process-one">
                        <i class='bx bxs-car-mechanic'></i>
                        <h3>Problemi Tanımlama</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>
                    </div>
                    <div class="process-inner">
                        <i class='bx bxs-car-garage'></i>
                        <h3>Titizlikle Çalışma</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="process-item">
                    <div class="process-img">
                        <img src="/img/home-two/work-two.png" alt="Process">
                        <img src="/img/home-two/work-one.png" alt="Process">
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="process-item">
                    <div class="process-inner process-two">
                        <i class='bx bxs-car-crash'></i>
                        <h3>Deneme Sürüşleri</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>
                    </div>
                    <div class="process-inner process-three">
                        <i class='bx bxs-car-wash'></i>
                        <h3>Güvenli Teslim</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>