

@{
    ViewData["Title"] = "Detail";
    Layout = "~/Views/Layout/Index.cshtml";
}

<div class="page-title-area">
    <img src="~/img/home-one/footer-car.png" alt="Title">
    <div class="container">
        <div class="page-title-content">
            <h2>Blog Detayı</h2>
            <ul>
                <li>
                    <a href="/">Ana Sayfa</a>
                </li>
                <li>
                    <i class='bx bx-chevron-right'></i>
                </li>
                <li>Blog</li>
                <li>
                    <i class='bx bx-chevron-right'></i>
                </li>
                <li>Detay</li>
            </ul>
        </div>
    </div>
</div>

<div class="blog-details-area pt-100 pb-70">
    <div class="blog-details-shape">
        <img src="~/img/blog-details-shape.png" alt="Blog Details">
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-8">
                <div class="blog-details-item">
                    @await Component.InvokeAsync("_BlogDetailMainComponentPartial", new { id = ViewBag.blogid })
                    <div class="blog-details-form">
                        <h3>Yorumunuzu Bırakınız</h3>
                        <form>
                            <div class="form-group">
                                <input type="text" class="form-control" placeholder="isim Soyisim">
                            </div>
                            <div class="form-group">
                                <input type="email" class="form-control" placeholder="Email">
                            </div>
                            <div class="form-group">
                                <textarea id="your_comment" rows="8" class="form-control" placeholder="Açıklama"></textarea>
                            </div>
                            <button type="submit" class="btn blog-details-form-btn">Gönder</button>
                        </form>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="blog-details-item">
                    <div class="blog-details-search">
                        <form>
                            <input type="text" class="form-control" placeholder="Sayfaya Ara">
                            <button type="submit" class="btn search-btn">
                                <i class='bx bx-search'></i>
                            </button>
                        </form>
                    </div>
                    
                    @await Component.InvokeAsync("_BlogDetailRecentBlogsComponentPartial")

                    @await Component.InvokeAsync("_BlogCategoryComponentPartial")

                    @await Component.InvokeAsync("_BlogDetailGalleryComponentPartial")
                    
                    @await Component.InvokeAsync("_BlogDetailTagComponentPartial", new { id = ViewBag.blogid })
                    
                </div>
            </div>
        </div>
    </div>
</div>

