
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Layout/Index.cshtml";
}

<!-- Page Title -->
<div class="page-title-area">
    <img src="assets/img/home-one/footer-car.png" alt="Title">
    <div class="container">
        <div class="page-title-content">
            <h2>Faydalı Bilgiler</h2>
            <ul>
                <li>
                    <a href="/">Ana Sayfa</a>
                </li>
                <li>
                    <i class='bx bx-chevron-right'></i>
                </li>
                <li>Bloglar</li>
            </ul>
        </div>
    </div>
</div>

<!-- Blog -->
<section class="blog-area blog-area-two pt-100">
    <div class="container">
        <div class="row">
            <div class="col-sm-6 col-lg-4">
                <div class="blog-item">
                    <div class="blog-top">
                        <div class="blog-date">
                            <p>21</p>
                            <span>Feb</span>
                        </div>
                        <a href="blog-details.html">
                            <img src="assets/img/home-one/blog/1.jpg" alt="Blog">
                        </a>
                    </div>
                    <div class="blog-bottom">
                        <h3>
                            <a href="blog-details.html">The next genaration IT will change the world</a>
                        </h3>
                        <ul>
                            <li>
                                <img src="assets/img/home-one/blog/1.png" alt="Blog">
                                <a href="#">Aikin Ward</a>
                            </li>
                            <li>
                                <a href="blog-details.html">
                                    Read More
                                    <i class='bx bx-chevron-right'></i>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-lg-4">
                <div class="blog-item">
                    <div class="blog-top">
                        <div class="blog-date">
                            <p>22</p>
                            <span>Feb</span>
                        </div>
                        <a href="blog-details.html">
                            <img src="assets/img/home-one/blog/2.jpg" alt="Blog">
                        </a>
                    </div>
                    <div class="blog-bottom">
                        <h3>
                            <a href="blog-details.html">Content writing demand day by day increasing</a>
                        </h3>
                        <ul>
                            <li>
                                <img src="assets/img/home-one/blog/2.png" alt="Blog">
                                <a href="#">Tom Smith</a>
                            </li>
                            <li>
                                <a href="blog-details.html">
                                    Read More
                                    <i class='bx bx-chevron-right'></i>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-lg-4">
                <div class="blog-item">
                    <div class="blog-top">
                        <div class="blog-date">
                            <p>23</p>
                            <span>Feb</span>
                        </div>
                        <a href="blog-details.html">
                            <img src="assets/img/home-one/blog/3.jpg" alt="Blog">
                        </a>
                    </div>
                    <div class="blog-bottom">
                        <h3>
                            <a href="blog-details.html">Don't buy a tech gift until you read these rules image</a>
                        </h3>
                        <ul>
                            <li>
                                <img src="assets/img/home-one/blog/1.png" alt="Blog">
                                <a href="#">Sarah Tylor</a>
                            </li>
                            <li>
                                <a href="blog-details.html">
                                    Read More
                                    <i class='bx bx-chevron-right'></i>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-lg-4">
                <div class="blog-item">
                    <div class="blog-top">
                        <div class="blog-date">
                            <p>24</p>
                            <span>Feb</span>
                        </div>
                        <a href="blog-details.html">
                            <img src="assets/img/home-one/blog/4.jpg" alt="Blog">
                        </a>
                    </div>
                    <div class="blog-bottom">
                        <h3>
                            <a href="blog-details.html">The demand of BMW is going high to buy</a>
                        </h3>
                        <ul>
                            <li>
                                <img src="assets/img/home-one/blog/1.png" alt="Blog">
                                <a href="#">John Hock</a>
                            </li>
                            <li>
                                <a href="blog-details.html">
                                    Read More
                                    <i class='bx bx-chevron-right'></i>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-lg-4">
                <div class="blog-item">
                    <div class="blog-top">
                        <div class="blog-date">
                            <p>25</p>
                            <span>Feb</span>
                        </div>
                        <a href="blog-details.html">
                            <img src="assets/img/home-one/blog/5.jpg" alt="Blog">
                        </a>
                    </div>
                    <div class="blog-bottom">
                        <h3>
                            <a href="blog-details.html">You can buy best cars from watching details</a>
                        </h3>
                        <ul>
                            <li>
                                <img src="assets/img/home-one/blog/2.png" alt="Blog">
                                <a href="#">Mic Shon</a>
                            </li>
                            <li>
                                <a href="blog-details.html">
                                    Read More
                                    <i class='bx bx-chevron-right'></i>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-lg-4">
                <div class="blog-item">
                    <div class="blog-top">
                        <div class="blog-date">
                            <p>26</p>
                            <span>Feb</span>
                        </div>
                        <a href="blog-details.html">
                            <img src="assets/img/home-one/blog/6.jpg" alt="Blog">
                        </a>
                    </div>
                    <div class="blog-bottom">
                        <h3>
                            <a href="blog-details.html">Nowadays car is being increased everywhere</a>
                        </h3>
                        <ul>
                            <li>
                                <img src="assets/img/home-one/blog/1.png" alt="Blog">
                                <a href="#">Dev Warn</a>
                            </li>
                            <li>
                                <a href="blog-details.html">
                                    Read More
                                    <i class='bx bx-chevron-right'></i>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


