@model List<ResultBlogDto>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Layout/Index.cshtml";
}

<!-- Page Title -->
<div class="page-title-area">
    <img src="assets/img/home-one/footer-car.png" alt="Title">
    <div class="container">
        <div class="page-title-content">
            <h2>Faydalı Bilgiler</h2>
            <ul>
                <li>
                    <a href="/">Ana Sayfa</a>
                </li>
                <li>
                    <i class='bx bx-chevron-right'></i>
                </li>
                <li>Bloglar</li>
            </ul>
        </div>
    </div>
</div>

<!-- Blog -->
<section class="blog-area blog-area-two pt-100">
    <div class="container">
        <div class="row">
            @foreach(var item in Model)
            {
                <div class="col-sm-6 col-lg-4">
                    <div class="blog-item">
                        <div class="blog-top">
                            <div class="blog-date">
                                <p>@(((DateTime)item.CreatedDate).ToString("dd"))</p>
                                <span>@(((DateTime)item.CreatedDate).ToString("MMM"))</span>
                            </div>
                            <a href="/Blog/Detail/@item.Id">
                                <img src="@item.CoverImageUrl" alt="Blog">
                            </a>
                        </div>
                        <div class="blog-bottom">
                            <h3>
                                <a href="/Blog/Detail/@item.Id">@item.Title</a>
                            </h3>
                            <ul>
                                <li>
                                    <img src="/img/home-one/blog/1.png" alt="Blog">
                                    <a href="#">ADMIN</a>
                                </li>
                                <li>
                                    <a href="/Blog/Detail/@item.Id">
                                        Oku
                                        <i class='bx bx-chevron-right'></i>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</section>


