<section class="parts-area ptb-100">
    <div class="container">
        <div class="section-title">
            <span class="sub-title">Ürünler</span>
            <h2>Satıştaki Ürünleri İncele</h2>
        </div>
        <div class="row">
            <div class="col-sm-6 col-lg-3">
                <div class="parts-item">
                    <div class="parts-top">
                        <img src="https://n11scdn.akamaized.net/a1/375_535/04/59/33/47/IMG-6712433825120806140.jpg" alt="Parts">
                    </div>
                    <h3>Araç Jant - 1</h3>
                    <span>₺4000</span>
                    <div class="cmn-btn">
                        <a class="banner-btn-left" href="#">
                            Şimdi İncele
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-lg-3">
                <div class="parts-item">
                    <div class="parts-top">
                        <img src="https://n11scdn.akamaized.net/a1/375_535/13/90/48/94/IMG-1917584727914563499.jpg" alt="Parts">
                    </div>
                    <h3>Araç Jant - 2</h3>
                    <span>₺4500</span>
                    <div class="cmn-btn">
                        <a class="banner-btn-left" href="#">
                            Şimdi İncele
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-lg-3">
                <div class="parts-item">
                    <div class="parts-top">
                        <img src="https://n11scdn.akamaized.net/a1/375_535/10/23/38/99/IMG-4689114622048094427.jpg" alt="Parts">
                    </div>
                    <h3>Araç Jant - 3</h3>
                    <span>₺6000</span>
                    <div class="cmn-btn">
                        <a class="banner-btn-left" href="#">
                            Şimdi İncele
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-lg-3">
                <div class="parts-item">
                    <div class="parts-top">
                        <img src="https://n11scdn.akamaized.net/a1/375_535/11/32/61/92/IMG-7573451801891471226.jpg" alt="Parts">
                    </div>
                    <h3>Araç Jant - 4</h3>
                    <span>₺4800</span>
                    <div class="cmn-btn">
                        <a class="banner-btn-left" href="#">
                            Şimdi İncele
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="parts-view">
            <a href="#">Hepsini Gör</a>
        </div>
    </div>
</section>