<section class="parts-area ptb-100">
    <div class="container">
        <div class="section-title">
            <span class="sub-title">parts</span>
            <h2>Parts On Sale</h2>
        </div>
        <div class="row">
            <div class="col-sm-6 col-lg-3">
                <div class="parts-item">
                    <div class="parts-top">
                        <img src="/img/home-one/parts/1.png" alt="Parts">
                    </div>
                    <h3>Audeck Tyre 200</h3>
                    <span>$120.00</span>
                    <div class="cmn-btn">
                        <a class="banner-btn-left" href="cart.html">
                            Book Now
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-lg-3">
                <div class="parts-item">
                    <div class="parts-top">
                        <img src="/img/home-one/parts/2.png" alt="Parts">
                    </div>
                    <h3>Audeck Gear 200</h3>
                    <span>$110.00</span>
                    <div class="cmn-btn">
                        <a class="banner-btn-left" href="cart.html">
                            Book Now
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-lg-3">
                <div class="parts-item">
                    <div class="parts-top">
                        <img src="/img/home-one/parts/3.png" alt="Parts">
                    </div>
                    <h3>Audeck Seat 200</h3>
                    <span>$130.00</span>
                    <div class="cmn-btn">
                        <a class="banner-btn-left" href="cart.html">
                            Book Now
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-lg-3">
                <div class="parts-item">
                    <div class="parts-top">
                        <img src="/img/home-one/parts/4.png" alt="Parts">
                    </div>
                    <h3>Audeck Engine 200</h3>
                    <span>$150.00</span>
                    <div class="cmn-btn">
                        <a class="banner-btn-left" href="cart.html">
                            Book Now
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="parts-view">
            <a href="shop.html">View All</a>
        </div>
    </div>
</section>