@model List<ResultFeatureDto>

<div class="feature-area">
    <div class="feature-shape">
        <img src="assets/img/home-one/feature-shape.png" alt="Feature">
    </div>
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-6 p-0">
                <div class="feature-img">
                    <img src="assets/img/home-one/feature-bg.jpg" alt="Feature">
                </div>
            </div>
            <div class="col-lg-6 p-0">
                <div class="feature-content">
                    <h2>Özelliklerimiz</h2>
                    <ul>
                        @foreach(var item in Model)
                        {
                            <li>
                                <i class=@item.IconUrl></i>
                                <h3>@item.Title</h3>
                                <p>@item.Description</p>
                            </li>
                        }
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
