<div class="feature-area">
    <div class="feature-shape">
        <img src="assets/img/home-one/feature-shape.png" alt="Feature">
    </div>
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-6 p-0">
                <div class="feature-img">
                    <img src="assets/img/home-one/feature-bg.jpg" alt="Feature">
                </div>
            </div>
            <div class="col-lg-6 p-0">
                <div class="feature-content">
                    <h2>Our Features</h2>
                    <ul>
                        <li>
                            <i class='bx bx-box'></i>
                            <h3>Trusted & Quality Work</h3>
                            <p>Lorem ipsum the dolor sit amet, consectetur adising elit, sed do.the dolor sit amet, consectetur </p>
                        </li>
                        <li>
                            <i class='bx bxs-truck'></i>
                            <h3>Fast Service Delivery</h3>
                            <p>Lorem ipsum the dolor sit amet, consectetur adising elit, sed do.the dolor sit amet, consectetur </p>
                        </li>
                        <li>
                            <i class='bx bx-money'></i>
                            <h3>Money Back Garanty</h3>
                            <p>Lorem ipsum the dolor sit amet, consectetur adising elit, sed do.the dolor sit amet, consectetur </p>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
