<div class="blog-details-gallery">
    <h3>Photo Gallery</h3>
    <ul>
        <li>
            <a href="#">
                <img src="~/img/gallery/2227.jpg" alt="Blog Details">
            </a>
        </li>
        <li>
            <a href="#">
                <img src="~/img/gallery/2227.jpg" alt="Blog Details">
            </a>
        </li>
        <li>
            <a href="#">
                <img src="~/img/gallery/2227.jpg" alt="Blog Details">
            </a>
        </li>
        <li>
            <a href="#">
                <img src="~/img/gallery/2227.jpg" alt="Blog Details">
            </a>
        </li>
        <li>
            <a href="#">
                <img src="~/img/gallery/2227.jpg" alt="Blog Details">
            </a>
        </li>
        <li>
            <a href="#">
                <img src="~/img/gallery/2227.jpg" alt="Blog Details">
            </a>
        </li>
        <li>
            <a href="#">
                <img src="~/img/gallery/2227.jpg" alt="Blog Details">
            </a>
        </li>
        <li>
            <a href="#">
                <img src="~/img/gallery/2227.jpg" alt="Blog Details">
            </a>
        </li>
    </ul>
</div>