@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Layout/Index.cshtml";
}

<!-- Page Title -->
<div class="page-title-area">
    <img src="assets/img/home-one/footer-car.png" alt="Title">
    <div class="container">
        <div class="page-title-content">
            <h2>Bizimle İletişime Geç</h2>
            <ul>
                <li>
                    <a href="/">Ana Sayfa</a>
                </li>
                <li>
                    <i class='bx bx-chevron-right'></i>
                </li>
                <li>İletişim</li>
            </ul>
        </div>
    </div>
</div>

<!-- Contact Area -->
<section class="contact-area pt-100 pb-70">
    <div class="container">
        <div class="row">

            @await Component.InvokeAsync("_ContactAddressComponentPartial")

            @await Component.InvokeAsync("_ContactFormComponentPartial")

        </div>
    </div>
</section>
