@model ResultAboutDto

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Layout/Index.cshtml";
}

<div class="page-title-area">
    <img src="assets/img/home-one/footer-car.png" alt="Title">
    <div class="container">
        <div class="page-title-content">
            <h2>Hakkımızda</h2>
            <ul>
                <li>
                    <a href="/">Ana Sayfa</a>
                </li>
                <li>
                    <i class='bx bx-chevron-right'></i>
                </li>
                <li>Hakkımızda</li>
            </ul>
        </div>
    </div>
</div>

<section class="quality-area quality-area-four pt-100">
    <div class="quality-shape">
        <img src="~/img/car-shape.png" alt="Quality">
    </div>
    <div class="container-fluid p-0 mb-5">
        <div class="row m-0 align-items-center">
            <div class="col-12">
                <div class="section-title">
                    <span class="sub-title">Biz Kimiz?</span>
                    <h2>Geçmişten Bugüne</h2>
                </div>
            </div>
            <div class="col-lg-6 p-0">
                <div class="quality-img">
                    <img src="@Model.ImageUrl" alt="Quality">
                    <div class="video-wrap">
                        <a href="@Model.VideoUrl" class="popup-youtube">
                            <i class='bx bx-play'></i>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 p-0">
                <div class="quality-content">
                    <div class="section-title">
                        <h2> @Model.Title </h2>
                        <p>
                            @Model.Description
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<div class="row">
    <div class="col-sm-6">
        <div class="section-title">
            <span class="sub-title">Vizyonumuz</span>
            <h2>Neler Yapıyoruz?</h2>
            <p>Ut sodales, nisi quis maximus venenatis, dolor eros fermentum ligula, at convallis nulla nibh non augue. Phasellus vehicula mi condimentum, elementum est vitae, dignissim lacus. Etiam velit risus, molestie id tellus hendrerit, ornare tristique turpis. Donec elit quam, ullamcorper nec pretium sed, consectetur non sem. Maecenas at rhoncus turpis. Donec scelerisque risus ut dolor tempus tincidunt. Vestibulum condimentum sit amet velit ut malesuada. Quisque velit urna, feugiat quis leo vel, commodo condimentum diam. Duis placerat, neque id euismod pulvinar, quam ante placerat nulla, at mollis purus est quis libero. Integer rhoncus risus sit amet ullamcorper posuere.</p>
        </div>
    </div>

    <div class="col-sm-6">
        <div class="section-title">
            <span class="sub-title">Misyonumuz</span>
            <h2>Neler Yapacağız?</h2>
            <p>Etiam vitae neque et mauris congue rutrum non in ex. Nullam scelerisque lorem quis euismod scelerisque. Donec tempus molestie velit sit amet gravida. Sed porttitor dignissim ultricies. Sed posuere porta felis ut euismod. In malesuada enim vitae enim pharetra elementum. Suspendisse eu commodo nibh. Aliquam eu maximus risus. Aenean non lacus velit. In gravida nulla libero, quis fermentum mi consequat nec. Nunc porta risus ex. Nullam accumsan placerat libero, id convallis purus dignissim at. Nunc id nulla ipsum. Aenean efficitur rutrum mauris, non dictum metus cursus vitae. Nam ornare tincidunt nisl, id euismod justo aliquet eget.</p>
        </div>
    </div>

    <div class="col-12 mb-5">
        <img src="https://acsotoservisi.com/wp-content/uploads/2021/09/acs-oto-servis-banner-1.jpg" alt="BannerAbout">
    </div>
</div>

@await Component.InvokeAsync("_ServiceAllServicesComponentPartial")

@await Component.InvokeAsync("_DefaultTeamComponentPartial")
