@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Layout/Index.cshtml";
}

<!-- Page Title -->
<div class="page-title-area">
    <img src="assets/img/home-one/footer-car.png" alt="Title">
    <div class="container">
        <div class="page-title-content">
            <h2>Koşullar &amp; Şartlar</h2>
            <ul>
                <li>
                    <a href="/">Ana Sayfa</a>
                </li>
                <li>
                    <i class='bx bx-chevron-right'></i>
                </li>
                <li>Şartlar</li>
            </ul>
        </div>
    </div>
</div>

<section class="faq-area pt-100 pb-70">
    <div class="container">
        <div class="row faq-wrap">
            <div class="col-lg-12">
                <div class="faq-head">
                    <h2>Koşullar &amp; Şartlarımız</h2>
                </div>
                <div>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin bibendum erat non lorem sollicitudin, ut pulvinar nisl ornare. Phasellus ut pretium leo, eu sollicitudin quam. Quisque pellentesque odio id tortor ornare, non mollis massa sodales. Maecenas augue lectus, suscipit sit amet sagittis ut, pharetra id dui. Aenean accumsan orci purus, et ultrices mi faucibus egestas. Donec tincidunt est nibh, et sollicitudin quam consequat vitae. Vivamus accumsan ultricies sodales. Nulla sagittis, massa at varius vulputate, ante erat porta purus, et aliquet neque orci ac diam. Praesent eu enim nisi.
                    </p>
                    <p>
                        Nunc gravida elit vel luctus efficitur. Integer semper auctor mauris ac tempor. Maecenas volutpat pulvinar augue eu sagittis. Nullam accumsan ullamcorper placerat. Etiam vulputate sit amet massa vestibulum euismod. Integer porttitor nulla quis auctor mattis. Donec at tortor vitae ipsum pellentesque blandit vel sed tortor. Nulla facilisi. Quisque id neque vel lacus aliquam lacinia. Aliquam dapibus tincidunt leo, dignissim rhoncus turpis ornare at. Praesent in dapibus nisi, eget dictum odio. Quisque massa nibh, varius quis risus vitae, suscipit congue purus.
                    </p>
                    <p>
                        Vestibulum mattis consectetur mattis. Cras aliquet elit at tortor hendrerit ullamcorper. Mauris sed nisi eu tortor sagittis aliquam in et tortor. Duis nec nisi nisl. Suspendisse vel volutpat urna, a tristique mi. Sed tincidunt leo ligula, vel euismod velit eleifend maximus. Nulla facilisi. Vivamus tincidunt ipsum eros, non iaculis metus elementum sed. Aliquam vel sem nulla. Nam quis augue in dolor varius commodo. Aliquam ultrices, nisi in varius vehicula, magna diam eleifend metus, at sodales elit elit nec tellus. Donec fringilla et eros vitae egestas.
                    </p>
                    <p>
                        Ut mauris ex, vestibulum in tincidunt eu, malesuada ut augue. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Fusce quis sollicitudin magna, vel tincidunt augue. Sed eget purus nec velit vehicula finibus et quis nibh. In hac habitasse platea dictumst. Mauris malesuada faucibus nunc, eget hendrerit arcu scelerisque id. Nunc consectetur ante nec lacus tempus, rhoncus ornare elit fermentum. Fusce mollis nisi a vestibulum efficitur. Vestibulum venenatis est nec lectus accumsan, non facilisis enim ornare.
                    </p>
                    <p>
                        Maecenas sit amet nisl nunc. Sed consequat nulla at arcu convallis, vitae varius mi ornare. Morbi sit amet velit diam. Aliquam rutrum suscipit vulputate. Nullam gravida ultricies ligula quis cursus. Curabitur vitae aliquet nisi, quis porttitor magna. Mauris vestibulum massa et massa tristique, sed rutrum erat sollicitudin. Etiam nec volutpat magna, vitae convallis justo.
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>