@model CreateRegisterDto

@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="tr">
@await Html.PartialAsync("/Areas/Admin/Views/AdminLayout/AdminHeadPartial.cshtml")
  <body>
    <div class="container-scroller">
      <div class="container-fluid page-body-wrapper full-page-wrapper">
        <div class="content-wrapper d-flex align-items-center auth">
          <div class="row flex-grow">
            <div class="col-lg-4 mx-auto">
              <div class="auth-form-light text-left p-5">
                <div class="brand-logo">
                  <img src="~/Admin/assets/images/logo-dark.svg">
                </div>
                <h4>Buralarda yeni misin?</h4>
                <h6 class="font-weight-light">Kayıt olmak artık çok kolay. Sadece birkaç adımda işlemlerinizi tamamlayın.</h6>
                <form class="pt-3" method="post">
                  <div class="form-group">
                    <input type="text" class="form-control form-control-lg" id="exampleInputUsername1" asp-for="Name" placeholder="İsim">
                  </div>
                  <div class="form-group">
                    <input type="text" class="form-control form-control-lg" id="exampleInputSurname1" asp-for="Surname" placeholder="Soyisim">
                  </div>
                  <div class="form-group">
                    <input type="email" class="form-control form-control-lg" id="exampleInputEmail1" asp-for="Email" placeholder="Mail Adresi">
                  </div>
                  <div class="form-group">
                    <input type="text" class="form-control form-control-lg" id="exampleInputUsername1" asp-for="Username" placeholder="Kullanıcı Adı">
                  </div>
                  <div class="form-group">
                    <input type="password" class="form-control form-control-lg" id="exampleInputPassword1" asp-for="Password" placeholder="Şifre">
                  </div>
                  <div class="form-group">
                    <input type="password" class="form-control form-control-lg" id="exampleInputPasswordConfirmation1" asp-for="ConfirmPassword" placeholder="Şifre Tekrar">
                  </div>
                  <div class="mb-4">
                    <div class="form-check">
                      <label class="form-check-label text-muted">
                        <input type="checkbox" class="form-check-input"> Koşullar &amp; Şartları kabul ediyorum. </label>
                    </div>
                  </div>
                  <div class="d-grid gap-2 d-md-block mt-3">
                    <button class="btn btn-primary" type="submit">Kayıt Ol</button>
                  </div>
                  <div class="text-center mt-4 font-weight-light"> Zaten bir hesabın var mı? <a href="/Admin/Login/SignIn/" class="text-primary">Giriş Yap</a>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    @await Html.PartialAsync("/Areas/Admin/Views/AdminLayout/AdminScriptPartial.cshtml")
  </body>
</html>