@model List<ResultServiceDto>
<!-- Navbar Area -->
<div class="navbar-area fixed-top">
    <!-- Menu For Mobile Device -->
    <div class="mobile-nav">
        <a href="index.html" class="logo">
            <img src="~/img/logo.png" alt="Logo">
        </a>
    </div>

    <!-- Menu For Desktop Device -->
    <div class="main-nav">
        <div class="container">
            <nav class="navbar navbar-expand-md navbar-light">
                <a class="navbar-brand" href="index.html">
                    <img src="~/img/logo.png" class="logo-one" alt="Logo">
                    <img src="~/img/logo-two.png" class="logo-two" alt="Logo">
                </a>
                <div class="collapse navbar-collapse mean-menu" id="navbarSupportedContent">
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item">
                            <a href="/" class="nav-link">Ana Sayfa</a>
                        </li>
                        <li class="nav-item">
                            <a href="/Location/Index/" class="nav-link">Servis Noktaları</a>
                        </li>
                        <li class="nav-item">
                            <a href="/Service/Index/" class="nav-link dropdown-toggle">Hizmetler</a>
                            <ul class="dropdown-menu">
                                @foreach(var item in Model)
                                {
                                    <li class="nav-item">
                                        <a href="/Service/Index/" class="nav-link">@item.Title</a>
                                    </li>
                                }
                            </ul>
                        </li>
                        <li class="nav-item">
                            <a href="/Pricing/Index/" class="nav-link">Fiyatlandırmalar</a>
                        </li>
                        <li class="nav-item">
                            <a href="/Blog/Index/" class="nav-link">Faydalı Bilgiler</a>
                        </li>
                        <li class="nav-item">
                            <a href="#" class="nav-link dropdown-toggle">Bize Ulaşın</a>
                            <ul class="dropdown-menu">
                                <li class="nav-item">
                                    <a href="/Contact/Index/" class="nav-link">İletişim</a>
                                </li>
                                <li class="nav-item">
                                    <a href="/About/Index/" class="nav-link">Kurumsal</a>
                                </li>
                                <li class="nav-item">
                                    <a href="/Faq/Index/" class="nav-link">Sıkça Sorulan Sorular</a>
                                </li>
                                <li class="nav-item">
                                    <a href="/Privacy/Index/" class="nav-link">Gizlilik Politikamız</a>
                                </li>
                                <li class="nav-item">
                                    <a href="/TermCondition/Index/" class="nav-link">Koşullar &amp; Şartlar</a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>
                <div class="cmn-btn">
                    <a class="banner-btn-left" href="/Reservation/Index/">
                        <i class='bx bxs-user-plus'></i>
                        Randevu Al
                    </a>
                </div>
            </nav>
        </div>
    </div>
</div>