<script src="~/js/jquery.min.js"></script>
<script src="~/js/bootstrap.bundle.min.js"></script>
<script src="~/js/jquery.meanmenu.js"></script>
<script src="~/js/jquery.mixitup.min.js"></script>
<script src="~/js/owl.carousel.min.js"></script>
<script src="~/js/jquery.magnific-popup.min.js"></script>
<script src="~/js/jquery.ajaxchimp.min.js"></script>
<script src="~/js/form-validator.min.js"></script>
<script src="~/js/contact-form-script.js"></script>
<script src="~/js/wow.min.js"></script>
<script src="~/js/custom.js"></script>
<script src="~/js/svg-turkiye-haritasi.js"></script>

<script>
    var cityData = {};

    function handleCityChange() {
        var selectElement = document.getElementById("citySelect");
        var cityId = selectElement.value;

        var districtSelect = document.getElementById("districtSelect");
        districtSelect.innerHTML = '<option selected>Yükleniyor...</option>';

        fetch("https://localhost:7215/api/LocationDistricts/GetLocationDistrictsByCityIdActive?id=" + cityId)
            .then(response => response.json())
            .then(data => {
                populateDistricts(data);
            })
            .catch(error => {
                console.error('Error:', error);
            });
    }

    function populateDistricts(districts) {
        var districtSelect = document.getElementById("districtSelect");
        districtSelect.innerHTML = '<option selected>İlçe Seçiniz</option>';
        districts.forEach(function (district) {
            var option = document.createElement("option");
            option.value = district.id;
            option.text = district.name;
            districtSelect.appendChild(option);
        });
    }
</script>

<script>
    var brandData = {};

    function handleBrandChange() {
        var selectElement = document.getElementById("brandSelect");
        var brandId = selectElement.value;

        var modelSelect = document.getElementById("modelSelect");
        modelSelect.innerHTML = '<option selected>Yükleniyor...</option>';

        fetch("https://localhost:7215/api/CarBrands/GetCarModelsByCarBrandId?id=" + brandId)
            .then(response => response.json())
            .then(data => {
                populateModels(data);
            })
            .catch(error => {
                console.error('Error:', error);
            });
    }

    function populateModels(models) {
        var modelSelect = document.getElementById("modelSelect");
        modelSelect.innerHTML = '<option selected>Model Seçiniz</option>';
        models.forEach(function (model) {
            var option = document.createElement("option");
            option.value = model.id;
            option.text = model.name;
            modelSelect.appendChild(option);
        });
    }
</script>