<!-- Pricing -->
<section class="pricing-area pt-100 pb-70">
    <div class="container">
        <div class="section-title">
            <span class="sub-title">pricing</span>
            <h2>Our Pricing Plan</h2>
        </div>
        <div class="row">
            <div class="col-sm-6 col-lg-4">
                <div class="pricing-item">
                    <div class="pricing-top">
                        <h3>Basic Pack</h3>
                        <p><span class="dollar">$</span>39<span class="month">/month</span></p>
                    </div>
                    <div class="pricing-middle">
                        <i class='bx bx-rocket'></i>
                    </div>
                    <div class="pricing-bottom">
                        <ul>
                            <li>
                                <i class='bx bx-check-circle'></i>
                                Up to 3 chat operators
                            </li>
                            <li>
                                <i class='bx bx-check-circle'></i>
                                200 ChatBot Triggers
                            </li>
                            <li>
                                <i class='bx bx-check-circle'></i>
                                Quick Responses
                            </li>
                            <li>
                                <i class='bx bx-check-circle'></i>
                                Google Analytics
                            </li>
                            <li>
                                <i class='bx bx-check-circle'></i>
                                Messenger Integration
                            </li>
                            <li>
                                <i class='bx bx-x'></i>
                                Email Integration
                            </li>
                            <li>
                                <i class='bx bx-x'></i>
                                Mobile + Desktop Apps
                            </li>
                            <li>
                                <i class='bx bx-x'></i>
                                Drag & Drop Widgets
                            </li>
                        </ul>
                        <div class="cmn-btn">
                            <a class="banner-btn-left" href="#">
                                Get Started
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-lg-4">
                <div class="pricing-item">
                    <div class="pricing-top">
                        <h3>Standard Pack</h3>
                        <p><span class="dollar">$</span>69<span class="month">/month</span></p>
                    </div>
                    <div class="pricing-middle">
                        <i class='bx bx-rocket'></i>
                    </div>
                    <div class="pricing-bottom">
                        <ul>
                            <li>
                                <i class='bx bx-check-circle'></i>
                                Up to 3 chat operators
                            </li>
                            <li>
                                <i class='bx bx-check-circle'></i>
                                200 ChatBot Triggers
                            </li>
                            <li>
                                <i class='bx bx-check-circle'></i>
                                Quick Responses
                            </li>
                            <li>
                                <i class='bx bx-check-circle'></i>
                                Google Analytics
                            </li>
                            <li>
                                <i class='bx bx-check-circle'></i>
                                Messenger Integration
                            </li>
                            <li>
                                <i class='bx bx-check-circle'></i>
                                Email Integration
                            </li>
                            <li>
                                <i class='bx bx-x'></i>
                                Mobile + Desktop Apps
                            </li>
                            <li>
                                <i class='bx bx-x'></i>
                                Drag & Drop Widgets
                            </li>
                        </ul>
                        <div class="cmn-btn">
                            <a class="banner-btn-left" href="#">
                                Get Started
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 offset-sm-3 offset-lg-0 col-lg-4">
                <div class="pricing-item">
                    <div class="pricing-top">
                        <h3>Premium Pack</h3>
                        <p><span class="dollar">$</span>99<span class="month">/month</span></p>
                    </div>
                    <div class="pricing-middle">
                        <i class='bx bx-rocket'></i>
                    </div>
                    <div class="pricing-bottom">
                        <ul>
                            <li>
                                <i class='bx bx-check-circle'></i>
                                Up to 3 chat operators
                            </li>
                            <li>
                                <i class='bx bx-check-circle'></i>
                                200 ChatBot Triggers
                            </li>
                            <li>
                                <i class='bx bx-check-circle'></i>
                                Quick Responses
                            </li>
                            <li>
                                <i class='bx bx-check-circle'></i>
                                Google Analytics
                            </li>
                            <li>
                                <i class='bx bx-check-circle'></i>
                                Messenger Integration
                            </li>
                            <li>
                                <i class='bx bx-check-circle'></i>
                                Email Integration
                            </li>
                            <li>
                                <i class='bx bx-check-circle'></i>
                                Mobile + Desktop Apps
                            </li>
                            <li>
                                <i class='bx bx-check-circle'></i>
                                Drag & Drop Widgets
                            </li>
                        </ul>
                        <div class="cmn-btn">
                            <a class="banner-btn-left" href="#">
                                Get Started
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>