
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Layout/Index.cshtml";
}

@await Component.InvokeAsync("_DefaultBannerComponentPartial")

@await Component.InvokeAsync("_DefaultProcessComponentPartial")

@await Component.InvokeAsync("_ServiceAllServicesComponentPartial")

<!-- Quality -->
<section class="quality-area quality-area-three">
    <div class="quality-img">
        <img src="assets/img/home-one/quality-shape.png" alt="Quality">
        <img src="assets/img/home-one/quality-shape.png" alt="Quality">
        <img src="assets/img/home-three/quality-man.png" alt="Quality">
    </div>
    <div class="container">
        <div class="quality-content">
            <div class="section-title">
                <h2>Quality Work is Our First Priority </h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravida. Risus commodo viverra maecenas accumsan lacus vel facilisis. </p>
            </div>
            <div class="cmn-btn">
                <a class="banner-btn-left" href="about.html">
                    Read More
                </a>
            </div>
            <img src="assets/img/home-one/tyre.png" alt="Quality">
        </div>
    </div>
</section>

<!-- Work -->
<section class="work-area pt-100 pb-70">
    <div class="container">
        <div class="section-title">
            <span class="sub-title">works</span>
            <h2>Latest Works For Clients</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
        </div>
        <div class="sorting-menu">
            <ul>
                <li class="filter active" data-filter="all">all</li>
                <li class="filter" data-filter=".tyre">wheels</li>
                <li class="filter" data-filter=".web">steering</li>
                <li class="filter" data-filter=".ui">brakes</li>
                <li class="filter" data-filter=".ux">suspention</li>
                <li class="filter" data-filter=".branding">tyre</li>
            </ul>
        </div>
        <div id="Container" class="row">
            <div class="col-sm-6 col-lg-3 mix web ui">
                <div class="work-item">
                    <img src="assets/img/home-one/work/1.jpg" alt="Work">
                    <div class="cmn-btn">
                        <a class="banner-btn-left" href="#">
                            Read More
                            <i class='bx bx-right-arrow-alt'></i>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-lg-3 mix tyre ux">
                <div class="work-item">
                    <img src="assets/img/home-one/work/2.jpg" alt="Work">
                    <div class="cmn-btn">
                        <a class="banner-btn-left" href="#">
                            Read More
                            <i class='bx bx-right-arrow-alt'></i>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-lg-6 mix ui branding">
                <div class="work-item">
                    <img src="assets/img/home-one/work/3.jpg" alt="Work">
                    <div class="cmn-btn">
                        <a class="banner-btn-left" href="#">
                            Read More
                            <i class='bx bx-right-arrow-alt'></i>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-lg-3 mix ux tyre">
                <div class="work-item">
                    <img src="assets/img/home-one/work/4.jpg" alt="Work">
                    <div class="cmn-btn">
                        <a class="banner-btn-left" href="#">
                            Read More
                            <i class='bx bx-right-arrow-alt'></i>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-lg-6 mix branding ui">
                <div class="work-item">
                    <img src="assets/img/home-one/work/5.jpg" alt="Work">
                    <div class="cmn-btn">
                        <a class="banner-btn-left" href="#">
                            Read More
                            <i class='bx bx-right-arrow-alt'></i>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-lg-3 mix tyre web">
                <div class="work-item">
                    <img src="assets/img/home-one/work/6.jpg" alt="Work">
                    <div class="cmn-btn">
                        <a class="banner-btn-left" href="#">
                            Read More
                            <i class='bx bx-right-arrow-alt'></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

@await Component.InvokeAsync("_DefaultFeatureComponentPartial")

<!-- Parts -->
<section class="parts-area ptb-100">
    <div class="container">
        <div class="section-title">
            <span class="sub-title">parts</span>
            <h2>Parts On Sale</h2>
        </div>
        <div class="row">
            <div class="col-sm-6 col-lg-3">
                <div class="parts-item">
                    <div class="parts-top">
                        <img src="assets/img/home-one/parts/1.png" alt="Parts">
                    </div>
                    <h3>Audeck Tyre 200</h3>
                    <span>$120.00</span>
                    <div class="cmn-btn">
                        <a class="banner-btn-left" href="cart.html">
                            Book Now
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-lg-3">
                <div class="parts-item">
                    <div class="parts-top">
                        <img src="assets/img/home-one/parts/2.png" alt="Parts">
                    </div>
                    <h3>Audeck Gear 200</h3>
                    <span>$110.00</span>
                    <div class="cmn-btn">
                        <a class="banner-btn-left" href="cart.html">
                            Book Now
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-lg-3">
                <div class="parts-item">
                    <div class="parts-top">
                        <img src="assets/img/home-one/parts/3.png" alt="Parts">
                    </div>
                    <h3>Audeck Seat 200</h3>
                    <span>$130.00</span>
                    <div class="cmn-btn">
                        <a class="banner-btn-left" href="cart.html">
                            Book Now
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-lg-3">
                <div class="parts-item">
                    <div class="parts-top">
                        <img src="assets/img/home-one/parts/4.png" alt="Parts">
                    </div>
                    <h3>Audeck Engine 200</h3>
                    <span>$150.00</span>
                    <div class="cmn-btn">
                        <a class="banner-btn-left" href="cart.html">
                            Book Now
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="parts-view">
            <a href="shop.html">View All</a>
        </div>
    </div>
</section>

@await Component.InvokeAsync("_DefaultTeamComponentPartial")

@await Component.InvokeAsync("_DefaultTestimonialComponentPartial")

<!-- Pricing -->
<section class="pricing-area pt-100 pb-70">
    <div class="container">
        <div class="section-title">
            <span class="sub-title">pricing</span>
            <h2>Our Pricing Plan</h2>
        </div>
        <div class="row">
            <div class="col-sm-6 col-lg-4">
                <div class="pricing-item">
                    <div class="pricing-top">
                        <h3>Basic Pack</h3>
                        <p><span class="dollar">$</span>39<span class="month">/month</span></p>
                    </div>
                    <div class="pricing-middle">
                        <i class='bx bx-rocket'></i>
                    </div>
                    <div class="pricing-bottom">
                        <ul>
                            <li>
                                <i class='bx bx-check-circle'></i>
                                Up to 3 chat operators
                            </li>
                            <li>
                                <i class='bx bx-check-circle'></i>
                                200 ChatBot Triggers
                            </li>
                            <li>
                                <i class='bx bx-check-circle'></i>
                                Quick Responses
                            </li>
                            <li>
                                <i class='bx bx-check-circle'></i>
                                Google Analytics
                            </li>
                            <li>
                                <i class='bx bx-check-circle'></i>
                                Messenger Integration
                            </li>
                            <li>
                                <i class='bx bx-x'></i>
                                Email Integration
                            </li>
                            <li>
                                <i class='bx bx-x'></i>
                                Mobile + Desktop Apps
                            </li>
                            <li>
                                <i class='bx bx-x'></i>
                                Drag & Drop Widgets
                            </li>
                        </ul>
                        <div class="cmn-btn">
                            <a class="banner-btn-left" href="#">
                                Get Started
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-lg-4">
                <div class="pricing-item">
                    <div class="pricing-top">
                        <h3>Standard Pack</h3>
                        <p><span class="dollar">$</span>69<span class="month">/month</span></p>
                    </div>
                    <div class="pricing-middle">
                        <i class='bx bx-rocket'></i>
                    </div>
                    <div class="pricing-bottom">
                        <ul>
                            <li>
                                <i class='bx bx-check-circle'></i>
                                Up to 3 chat operators
                            </li>
                            <li>
                                <i class='bx bx-check-circle'></i>
                                200 ChatBot Triggers
                            </li>
                            <li>
                                <i class='bx bx-check-circle'></i>
                                Quick Responses
                            </li>
                            <li>
                                <i class='bx bx-check-circle'></i>
                                Google Analytics
                            </li>
                            <li>
                                <i class='bx bx-check-circle'></i>
                                Messenger Integration
                            </li>
                            <li>
                                <i class='bx bx-check-circle'></i>
                                Email Integration
                            </li>
                            <li>
                                <i class='bx bx-x'></i>
                                Mobile + Desktop Apps
                            </li>
                            <li>
                                <i class='bx bx-x'></i>
                                Drag & Drop Widgets
                            </li>
                        </ul>
                        <div class="cmn-btn">
                            <a class="banner-btn-left" href="#">
                                Get Started
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 offset-sm-3 offset-lg-0 col-lg-4">
                <div class="pricing-item">
                    <div class="pricing-top">
                        <h3>Premium Pack</h3>
                        <p><span class="dollar">$</span>99<span class="month">/month</span></p>
                    </div>
                    <div class="pricing-middle">
                        <i class='bx bx-rocket'></i>
                    </div>
                    <div class="pricing-bottom">
                        <ul>
                            <li>
                                <i class='bx bx-check-circle'></i>
                                Up to 3 chat operators
                            </li>
                            <li>
                                <i class='bx bx-check-circle'></i>
                                200 ChatBot Triggers
                            </li>
                            <li>
                                <i class='bx bx-check-circle'></i>
                                Quick Responses
                            </li>
                            <li>
                                <i class='bx bx-check-circle'></i>
                                Google Analytics
                            </li>
                            <li>
                                <i class='bx bx-check-circle'></i>
                                Messenger Integration
                            </li>
                            <li>
                                <i class='bx bx-check-circle'></i>
                                Email Integration
                            </li>
                            <li>
                                <i class='bx bx-check-circle'></i>
                                Mobile + Desktop Apps
                            </li>
                            <li>
                                <i class='bx bx-check-circle'></i>
                                Drag & Drop Widgets
                            </li>
                        </ul>
                        <div class="cmn-btn">
                            <a class="banner-btn-left" href="#">
                                Get Started
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Blog -->
<section class="blog-area pt-100">
    <div class="container">
        <div class="section-title">
            <span class="sub-title">blog</span>
            <h2>Our Latest Blogs</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
        </div>
        <div class="row">
            <div class="col-sm-6 col-lg-4">
                <div class="blog-item">
                    <div class="blog-top">
                        <div class="blog-date">
                            <p>21</p>
                            <span>Feb</span>
                        </div>
                        <a href="blog-details.html">
                            <img src="assets/img/home-one/blog/1.jpg" alt="Blog">
                        </a>
                    </div>
                    <div class="blog-bottom">
                        <h3>
                            <a href="blog-details.html">The next genaration IT will change the world</a>
                        </h3>
                        <ul>
                            <li>
                                <img src="assets/img/home-one/blog/1.png" alt="Blog">
                                <a href="#">Aikin Ward</a>
                            </li>
                            <li>
                                <a href="blog-details.html">
                                    Read More
                                    <i class='bx bx-chevron-right'></i>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-lg-4">
                <div class="blog-item">
                    <div class="blog-top">
                        <div class="blog-date">
                            <p>22</p>
                            <span>Feb</span>
                        </div>
                        <a href="blog-details.html">
                            <img src="assets/img/home-one/blog/2.jpg" alt="Blog">
                        </a>
                    </div>
                    <div class="blog-bottom">
                        <h3>
                            <a href="blog-details.html">Content writing demand day by day increasing</a>
                        </h3>
                        <ul>
                            <li>
                                <img src="assets/img/home-one/blog/2.png" alt="Blog">
                                <a href="#">Tom Smith</a>
                            </li>
                            <li>
                                <a href="blog-details.html">
                                    Read More
                                    <i class='bx bx-chevron-right'></i>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 offset-sm-3 offset-lg-0 col-lg-4">
                <div class="blog-item">
                    <div class="blog-top">
                        <div class="blog-date">
                            <p>23</p>
                            <span>Feb</span>
                        </div>
                        <a href="blog-details.html">
                            <img src="assets/img/home-one/blog/3.jpg" alt="Blog">
                        </a>
                    </div>
                    <div class="blog-bottom">
                        <h3>
                            <a href="blog-details.html">Don't buy a tech gift until you read these rules image</a>
                        </h3>
                        <ul>
                            <li>
                                <img src="assets/img/home-one/blog/1.png" alt="Blog">
                                <a href="#">Sarah Tylor</a>
                            </li>
                            <li>
                                <a href="blog-details.html">
                                    Read More
                                    <i class='bx bx-chevron-right'></i>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="parts-view">
            <a href="blog.html">View All</a>
        </div>
    </div>
</section>


