
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Layout/Index.cshtml";
}

@await Component.InvokeAsync("_DefaultBannerComponentPartial")

@await Component.InvokeAsync("_DefaultProcessComponentPartial")

@await Component.InvokeAsync("_ServiceAllServicesComponentPartial")

@await Component.InvokeAsync("_DefaultQualityComponentPartial")

<!-- Work -->
<section class="work-area pt-100 pb-70">
    <div class="container">
        <div class="section-title">
            <span class="sub-title">works</span>
            <h2>Latest Works For Clients</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
        </div>
        <div class="sorting-menu">
            <ul>
                <li class="filter active" data-filter="all">all</li>
                <li class="filter" data-filter=".tyre">wheels</li>
                <li class="filter" data-filter=".web">steering</li>
                <li class="filter" data-filter=".ui">brakes</li>
                <li class="filter" data-filter=".ux">suspention</li>
                <li class="filter" data-filter=".branding">tyre</li>
            </ul>
        </div>
        <div id="Container" class="row">
            <div class="col-sm-6 col-lg-3 mix web ui">
                <div class="work-item">
                    <img src="/img/home-one/work/1.jpg" alt="Work">
                    <div class="cmn-btn">
                        <a class="banner-btn-left" href="#">
                            Read More
                            <i class='bx bx-right-arrow-alt'></i>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-lg-3 mix tyre ux">
                <div class="work-item">
                    <img src="/img/home-one/work/2.jpg" alt="Work">
                    <div class="cmn-btn">
                        <a class="banner-btn-left" href="#">
                            Read More
                            <i class='bx bx-right-arrow-alt'></i>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-lg-6 mix ui branding">
                <div class="work-item">
                    <img src="/img/home-one/work/3.jpg" alt="Work">
                    <div class="cmn-btn">
                        <a class="banner-btn-left" href="#">
                            Read More
                            <i class='bx bx-right-arrow-alt'></i>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-lg-3 mix ux tyre">
                <div class="work-item">
                    <img src="/img/home-one/work/4.jpg" alt="Work">
                    <div class="cmn-btn">
                        <a class="banner-btn-left" href="#">
                            Read More
                            <i class='bx bx-right-arrow-alt'></i>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-lg-6 mix branding ui">
                <div class="work-item">
                    <img src="/img/home-one/work/5.jpg" alt="Work">
                    <div class="cmn-btn">
                        <a class="banner-btn-left" href="#">
                            Read More
                            <i class='bx bx-right-arrow-alt'></i>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-lg-3 mix tyre web">
                <div class="work-item">
                    <img src="/img/home-one/work/6.jpg" alt="Work">
                    <div class="cmn-btn">
                        <a class="banner-btn-left" href="#">
                            Read More
                            <i class='bx bx-right-arrow-alt'></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

@await Component.InvokeAsync("_DefaultFeatureComponentPartial")

@await Component.InvokeAsync("_DefaultShopComponentPartial")

@await Component.InvokeAsync("_DefaultTeamComponentPartial")

@await Component.InvokeAsync("_DefaultTestimonialComponentPartial")

@await Component.InvokeAsync("_PricingDefaultComponentPartial")

@await Component.InvokeAsync("_BlogDefaultComponentPartial")