@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Layout/Index.cshtml";
}

@await Component.InvokeAsync("_DefaultBannerComponentPartial")

@await Component.InvokeAsync("_DefaultProcessComponentPartial")

<script src="https://code.jquery.com/jquery-2.2.0.min.js" type="text/javascript"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.6.0/slick.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>

<section class="engineer-area ptb-100">
    <div class="container">
        <div class="section-title">
            <span class="sub-title">Markalar</span>
            <h2>Anlaşmalı Olduğumuz Markalar</h2>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="brand-slider-area">
                        <div class="brand-wrapper">
                            <div class="brand-item"><img alt="" src="~/img/CarLogos/alfa-romeo.png"></div>
                            <div class="brand-item"><img alt="" src="~/img/CarLogos/audi.png"></div>
                            <div class="brand-item"><img alt="" src="~/img/CarLogos/bmw.png"></div>
                            <div class="brand-item"><img alt="" src="~/img/CarLogos/jeep.png"></div>
                            <div class="brand-item"><img alt="" src="~/img/CarLogos/peugeout.png"></div>
                            <div class="brand-item"><img alt="" src="~/img/CarLogos/mercedes.png"></div>
                            <div class="brand-item"><img alt="" src="~/img/CarLogos/ford.png"></div>
                            <div class="brand-item"><img alt="" src="~/img/CarLogos/volvo.png"></div>
                            <div class="brand-item"><img alt="" src="~/img/CarLogos/skoda.png"></div>
                            <div class="brand-item"><img alt="" src="~/img/CarLogos/toyota.png"></div>
                            <div class="brand-item"><img alt="" src="~/img/CarLogos/renault.png"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

@await Component.InvokeAsync("_ServiceAllServicesComponentPartial")

@await Component.InvokeAsync("_DefaultFeatureComponentPartial")

<!-- Work -->
<section class="work-area pt-100 pb-70">
    <div class="container">
        <div class="section-title">
            <span class="sub-title">galeri</span>
            <h2>Fotoğraf Galerisi</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
        </div>
        <div class="sorting-menu">
            <ul>
                <li class="filter active" data-filter="all">hepsi</li>
                <li class="filter" data-filter=".tyre">sedan</li>
                <li class="filter" data-filter=".web">geniş araç</li>
                <li class="filter" data-filter=".branding">suv</li>
            </ul>
        </div>
        <div id="Container" class="row">
            <div class="col-sm-6 col-lg-3 mix tyre ui">
                <div class="work-item">
                    <img src="https://arbstorage.mncdn.com/modelphotos/e17bd811-f696-4288-b5bc-c936cecd7ba1_912x513.jpg" alt="Work">
                    <div class="cmn-btn">
                        <a class="banner-btn-left" href="#">
                            Read More
                            <i class='bx bx-right-arrow-alt'></i>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-lg-3 mix branding ux">
                <div class="work-item">
                    <img src="https://arbstorage.mncdn.com/modelphotos/29e3f483-7c66-4ee6-a96d-1202329c600b_912x513.jpg" alt="Work">
                    <div class="cmn-btn">
                        <a class="banner-btn-left" href="#">
                            Read More
                            <i class='bx bx-right-arrow-alt'></i>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-lg-3 mix branding ui">
                <div class="work-item">
                    <img src="https://arbstorage.mncdn.com/modelphotos/3533c6fd-0bc3-44d7-a209-d17e2242bd81_912x513.jpg" alt="Work">
                    <div class="cmn-btn">
                        <a class="banner-btn-left" href="#">
                            Read More
                            <i class='bx bx-right-arrow-alt'></i>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-lg-3 mix tyre ux">
                <div class="work-item">
                    <img src="https://arbstorage.mncdn.com/modelphotos/2c428002-7dce-42f2-854b-dc36ffea5f61_912x513.jpg" alt="Work">
                    <div class="cmn-btn">
                        <a class="banner-btn-left" href="#">
                            Read More
                            <i class='bx bx-right-arrow-alt'></i>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-lg-3 mix tyre ui">
                <div class="work-item">
                    <img src="https://arbstorage.mncdn.com/modelphotos/4a7f25d0-daab-4fc4-86ab-5ed00adbfde9_912x513.jpg" alt="Work">
                    <div class="cmn-btn">
                        <a class="banner-btn-left" href="#">
                            Read More
                            <i class='bx bx-right-arrow-alt'></i>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-lg-3 mix branding ux">
                <div class="work-item">
                    <img src="https://arbstorage.mncdn.com/modelphotos/83984442-81b0-4157-bcaa-80008354b6c3_912x513.jpg" alt="Work">
                    <div class="cmn-btn">
                        <a class="banner-btn-left" href="#">
                            Read More
                            <i class='bx bx-right-arrow-alt'></i>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-lg-3 mix branding ui">
                <div class="work-item">
                    <img src="https://arbstorage.mncdn.com/modelphotos/fd53de39-74e2-4d1a-ae02-5bfb9de5b752_912x513.jpg" alt="Work">
                    <div class="cmn-btn">
                        <a class="banner-btn-left" href="#">
                            Read More
                            <i class='bx bx-right-arrow-alt'></i>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-lg-3 mix tyre ux">
                <div class="work-item">
                    <img src="https://arbstorage.mncdn.com/modelphotos/2bb54076-04ac-4540-a1d9-ebc2945947f5_912x513.jpg" alt="Work">
                    <div class="cmn-btn">
                        <a class="banner-btn-left" href="#">
                            Read More
                            <i class='bx bx-right-arrow-alt'></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

@await Component.InvokeAsync("_DefaultShopComponentPartial")

@await Component.InvokeAsync("_DefaultQualityComponentPartial")

@await Component.InvokeAsync("_DefaultTeamComponentPartial")

@await Component.InvokeAsync("_DefaultTestimonialComponentPartial")

@await Component.InvokeAsync("_DefaultGetLast3BlogsComponentPartial")