<div>
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="d-flex align-items-center min-vh-100">
                    <div class="w-100 d-block bg-white shadow-lg rounded my-4">
                        <div class="row">
                            <div class="col-lg-8 mx-auto">
                                <div class="p-4">
                                    <div class="d-flex justify-content-center
                    align-items-center flex-column
                    text-center w-100">
                                        <div class="bg_img w-50">
                                        </div>
                                        <div>
                                            <p class="display-4">Looks Like You're Lost</p>
                                            <p>The page you are looking for not available...</p>
                                            <a href="/"
                                               class="text-white text-decoration-none px-4 py-3
                          bg-success d-inline-block mt-2 rounded">
                                                Go to Home
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>